extends ../layouts/layout.pug
block main-content
    .content#toggleclicka
        include ../patials/chart-demo.pug
        //- .row.f-nowrap
        //-     //- .wrapper-table.cs-col-xl-6.col-12.col-lg-12.col-md-12.col-sm-12
        //-     //-     include ../patials/chart-table.pug
        //-     .wrapper-table.cs-col-xl-6.col-12.col-lg-12.col-md-12.col-sm-12
        //-         include ../patials/tabs-block.pug
        //- .wrapper-table
        //-     include ../patials/tabs-vertical-block.pug