html(lang="vi")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title login
        link(rel="stylesheet", href="../../../dist/css/components/login-pages.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;display=swap" rel="stylesheet")
    body
    .login-page
            .login-layout
                .login-box
                    h1  ĐĂNG NHẬP
                    .textbox
                        input(type="text" placeholder="Nhập tài khoản" name="" value="")
                    .textbox
                        input(type="password" placeholder="Nhập mật khẩu" name="" value="")
                    .submit-box      
                        input(type="button" name="" value="Đăng Nhập").btn
                .login-overplay
                    h1 NHƠN HÒA
                    //- .login-overplay-img
                        img(src="../../../dist/assets/images/64788498_1384270131730012_334511835631845376_n.png", alt="")
            .overlay