.chart-pie {
  margin-bottom: 4rem;
  justify-content: space-between;

}

.pie-1 {
  margin: auto;
  background: white;
  padding: 1rem;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,.15);
  width: 45%;
}

canvas {
  width: 100%;
  height: 100%;
}

.chart-bar {
  // width: 80%;
  height: 400px;
  // margin: auto;
  margin: 0 2rem;
  margin-bottom: 4rem;
  background: white;
  padding: 1rem;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,.15);
}

.chart-line {
  // width: 80%;
  height: 400px;
  // margin: auto;
  margin: 0 2rem;
  margin-bottom: 4rem;
      background: white;
    padding: 1rem;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,.15);
}