.wrapper-table{
    // border: 1px solid #666666;
    &:first-child{}

}
.chart-table{
    padding: 3rem;
    overflow: hidden;
    // border: 1px solid #666666;
}
// @media only screen and (max-width:1200px){
//     #mychart-colum{
//         height: 650px !important;
//     }
// }