.dashboard{
    // chống quét khối
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    //
    font-family: 'Roboto', sans-serif;
    min-width: 604px;
    top: 0;
    left: 0;
    right: 0;
    // height: 3000px;
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    position: fixed;
    // flex-wrap: wrap;
    .dashboard-nav{
        background: #009efb;
        background: -moz-linear-gradient(left, #0178bc 0%, #00bdda 100%);
        background: -webkit-linear-gradient(left, #0178bc 0%, #00bdda 100%);
        background: linear-gradient(to right, #0178bc 0%, #00bdda 100%);
        // background: red;
        // background: black;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 1px solid black;
        width: 100%;
        z-index: 999;
        .dashboard-menu{
            // border: 1px solid black;
            border-right: 0.5px solid white;
            position: relative;
            width: 24rem;
            height: 6rem;
            background:  white;    //background màu của visit
            h1 {
                padding-top:1rem; 
                // text-align: center;
                padding-left: 4rem;
                color: linear-gradient(to right, #0178bc 0%, #00bdda 100%);
            }
            .menu-sub{
                display: flex;
                position: absolute;
                top: 55%;
                left: 108%;
                margin-left: -0.7rem;
                transform: translate(-10%,-50%);
                list-style: none;
                .m-1{
                    margin: 0;
                    margin-right:1rem; 
                }
                li{
                    display: inline-block;
                    // margin-right: 1rem;
                    position: relative;
                    a{
                        position: relative;
                        display: block;
                        width: 3rem;
                        height: 3rem;
                        // background: white;
                        color: white;
                        // border-radius: 50%;
                        i{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 18px;
    
                        }
                        span{
                            position: absolute;
                            top: 2px;
                            left: 62%;
                            width: 9px;
                            height: 9px;
                            border-radius: 50%;
                            background: red;
                            font-size: 1rem;
                            text-align: center;
                        }
                            // -moz-box-shadow: 1px 1px 3px 1px black;
                            // -webkit-box-shadow: 1px 1px 3px 1px black;
                            // box-shadow: 1px 1px 3px 1px black;
                            // border: 0.5px solid #0085C1;
                        &:hover{
                            border: 0.5px solid white;
                        }
                    }
                    
                    &:hover{
                        a{
                            // background: #0b9ca3;
                        }
                    }
                }
                // notifi 1 menu danh muc
                .notifi__box{
                    position: absolute;
                    top: 46px;
                    left: 0;
                    list-style: none;
                    border: none;
                    display: none;
                    // border: 0.5px solid white;
                    // background: black;
                    border: 1px solid rgba(0,0,0,.15);
                    // -webkit-box-shadow: 12px 12px 27px -7px rgba(0,0,0,0.75);
                    // -moz-box-shadow: 12px 12px 27px -7px rgba(0,0,0,0.75);
                    // box-shadow: 12px 12px 27px -7px rgba(0,0,0,0.75);
                    &::before{
                        content: "";
                        z-index: 1000;
                        position: absolute;
                        bottom: 100%;
                        left: 8px;
                        border-width: 0 6px 7px 6px;
                        border-color: white transparent;
                        border-style: solid;
                    }
                    li{
                        // border: 0.5px solid #0b9ca3;
                        width: 25rem;
                        padding: 0.5rem;
                        // border: 1px solid rgba(0,0,0,.15);
                        background: white;
                        position: relative;
                        a{
                            border: none;
                            text-align: left;
                            text-decoration: none;
                            padding: 0.5rem 1rem;
                            border-radius: 0; 
                            background: transparent;
                            color: black;
                            width: auto;
                            height: auto;
                            font-size: 1.4rem;
                            font-weight: 400;
                            // border-radius: 5px;
                            text-transform: uppercase;
                            // text-align: center;
                            // border-bottom: 0.2px solid white;
                            box-shadow: none;
                        }
                        .menu-sub-right{
                            position: absolute;
                            top:-3%;
                            left: 100%;
                            display: none;
                            border: 1px solid rgba(0,0,0,.15);
                            li{
                                a{
                                    padding: 0.5rem 0;
                                }
                            }
                        }
                        &:hover{
                            .menu-sub-right{
                                display: block;
                            }
                        }
                        p{
                            background:transparent;
                            padding: 0rem 1rem;
                            padding-bottom: 0.5rem;
                            font-size: 1.2rem;
                            color: grey;
                            // text-align: center;
                        }
                        &:hover{
                            .task__link{
                                color: #007bff;
                            }
                            background: white;
                        }
                    }
                    a{
                        text-align: left;
                        text-decoration: none;
                        padding: 0.5rem 4rem;
                        border-radius: 0; 
                        background: white;
                        color: grey;
                        width: auto;
                        height: auto;
                        font-size: 1.5rem;
                        font-weight: 400;
                        // border-radius: 5px;
                        border-bottom: 0.2px solid white;
                        width: 25rem;
                        // border: 0.5px solid #0b9ca3;
                        text-align: center;
                        display: block;
                        // border: 0.5 solid white;
                        box-shadow: none;

                        &:hover{
                            color: #007bff;                            
                        }
                    }
                }
            }
        }
        .dashboard-search{
            padding-right: 2rem;  
            // position: relative;
            .menu-sub{
                position: absolute;
                top: 55%;
                right: 15rem;
                transform: translate(-10%,-50%);
                list-style: none;
                display: flex;
                .m-1{
                    margin: 0;
                    margin-right: 1rem;
                }
                li{
                    display: inline-block;
                    // margin-right: 1rem;
                    position: relative;
                    a{
                        position: relative;
                        display: block;
                        width: 3rem;
                        height: 3rem;
                        // background: white;
                        color: white;
                        border-radius: 50%;
                        i{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 15.67px;

                        }
                        span{
                            position: absolute;
                            top: 2px;
                            left: 62%;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            font-size: 1.5rem;
                            text-align: center;
                            background-color:#f62d51;
                            display: block;
                            &::before{
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                border: 1.5px solid #f62d51;
                                border-radius: 50%;
                                box-shadow: inset 0px 1px 0px #f62d51;
                                border-radius: 50%;
                                -webkit-animation: led 1s infinite;
                                -moz-animation: led 1s infinite;
                                -ms-animation: led 1s infinite;
                                -o-animation: led 1s infinite;
                                animation: led 1s infinite;
                            }
                            @keyframes led {
                                0% {
                                    // opacity: 0.5;
                                    // border: 1px solid rgb(255, 136, 115);
                                    transform: scale(1);
                                    opacity: 1;

                                }
                                
                                100% {
                                    // padding: 2px;
                                    // border: 5px solid rgb(255, 136, 115);
                                    transform: scale(3);
                                    opacity: 0;
                                }
                            }
                        }
                        // -moz-box-shadow: 1px 1px 3px 1px black;
                        // -webkit-box-shadow: 1px 1px 3px 1px black;
                        // box-shadow: 1px 1px 3px 1px black;
                        // border: 0.5px solid #0085C1;

                    }
                    &:hover{
                        a{
                            // background: #0b9ca3;
                        }
                    }
                }
                // notifi 2 notification
                .notifi__box{
                    position: absolute;
                    top: 46px;
                    left: -220px;
                    list-style: none;
                    border: none;
                    display: none;
                    border: 1px solid rgba(0,0,0,.15);
                    // border: 0.5px solid white;
                    // background: black;
                    // -webkit-box-shadow: 12px 12px 27px -7px rgba(0,0,0,0.75);
                    // -moz-box-shadow: 12px 12px 27px -7px rgba(0,0,0,0.75);
                    // box-shadow: 12px 12px 27px -7px rgba(0,0,0,0.75);
                    &::before{
                        content: "";
                        z-index: 1000;
                        position: absolute;
                        bottom: 100%;
                        right: 9px;
                        border-width: 0 6px 7px 6px;
                        border-color: white transparent;
                        border-style: solid;
                    }                    
                    .notifi__title{
                        // position: absolute;
                        background: white;
                        color: black;
                        display: block;
                        padding: 1rem 15px;
                        border-bottom: 1px solid rgba(0,0,0,.15);
                        font-size: 1.4rem;
                    }
                    .message__item{
                        display: flex;
                        flex-wrap: nowrap;
                        .message__avatar{
                            width: 50px;
                            height: 50px;
                            overflow: hidden;
                            border-radius: 50%;
                            img{
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                    .scroll{
                        // scroll
                        overflow: hidden;
                        max-height: 200px;
                        overflow-y: scroll;
                        &::-webkit-scrollbar-track
                        {
                            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                            background-color: #F5F5F5;
                        }
                
                        &::-webkit-scrollbar
                        {
                            width: 0px;
                            background-color: #F5F5F5;
                        }
                
                        &::-webkit-scrollbar-thumb
                        {
                            background-color: #0ae;
                            
                            background-image: -webkit-gradient(linear, 0 0, 0 100%,
                                            color-stop(.5, rgba(255, 255, 255, .2)),
                                            color-stop(.5, transparent), to(transparent));
                        }
                        // scroll
                    }
                    li{
                        width: 25rem;
                        padding: 0.5rem;
                        // border: 1px solid rgba(0,0,0,.15);
                        background: white;
                        a{
                            border: none;
                            text-align: left;
                            text-decoration: none;
                            padding: 0.5rem 1rem;
                            border-radius: 0; 
                            background: transparent;
                            color: black;
                            width: auto;
                            height: auto;
                            font-size: 1.4rem;
                            font-weight: 400;
                            // border-radius: 5px;
                            text-transform: uppercase;
                        }
                        p{
                            background:transparent;
                            padding: 0rem 1rem;
                            padding-bottom: 0.5rem;
                            font-size: 1.2rem;
                            color: grey;
                            // text-align: center;
                        }
                        &:hover{
                            a{
                                color: #007bff;
                                background: none;
                            }
                        }
                    }
                    a{
                        text-align: left;
                        text-decoration: none;
                        padding: 0.5rem 4rem;
                        border-radius: 0; 
                        background: white;
                        color: grey;
                        width: auto;
                        height: auto;
                        font-size: 1.5rem;
                        font-weight: 400;
                        // border-radius: 5px;
                        border-bottom: 0.2px solid white;
                        width: 25rem;
                        border: 1px solid rgba(0,0,0,.15);
                        // border: 0.5px solid #0b9ca3;
                        text-align: center;
                        display: block;
                        border: 0.5 solid white;
                        box-shadow: none;
                        &:hover{
                            background: #ced4da;
                        }
                    }
                }
            }
            .search-box{
                display: inline-block;
                display: none;
                 /*khúc này là chỉnh vị trí nè  */
                position: absolute;
                top: 50%;
                right: 28rem;
                transform: translate(-10%,-50%);

                /* làm đẹp nè */
                background-color: white;
                height: 30px;
                border-radius: 40px;
                // padding: 10px;
                .input-box {
                    border: none;
                    outline: none;
                    background:none;
                    float: left;
                    padding: 5px 2rem;
                    color: black;
                    font-size: 16px;
                    transition: 0.4s all;
                    width: 200px;
                    font-size: 1.4rem;
                    // &:focus{
                    //     width: 180px;
                    //     // padding: 0 6px;
                    // }
                }
                .search-btn {
                    position: absolute;
                    top: -1%;
                    right: -1%;
                    color: white;
                    float: right;
                    text-decoration: none;
                    width: 30px;
                    height: 30px;
                    line-height: 40px;
                    text-align: center;
                    border-radius: 50%; 
                    background: #0b9ca3;
                    i{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        font-size: 1.5rem;
                    }
                    // &:hover{
                    //     background: white;
                    //     color: black;
                    // }
                }
            }
        }
        .profile{
            height: 3rem;
            // padding: 1rem 2rem;
            font-size: 1.2rem;
            // border: 1px solid black;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            margin-right: .5rem;
            width: 11rem;
            // border-radius: 40px;
            // background: white;
            color: white;
            position: relative;
            // -moz-box-shadow: 1px 1px 3px 1px black;
            // -webkit-box-shadow: 1px 1px 3px 1px black;
            // box-shadow: 1px 1px 3px 1px black;
            // border: 0.5px solid #0085C1;
            transition: 0.3s;
            &:hover{
                -moz-box-shadow: 2px 5px 5px 0px #00000038;
                -webkit-box-shadow: 2px 5px 5px 0px #00000038;
                box-shadow: 2px 5px 5px 0px #00000038;
            }
            // notifi progfile
            .notifi__box{
                position: absolute;
                top: 45px;
                left: -60px;
                list-style: none;
                border: none;
                display: none;
                // border: 0.5px solid white;
                // background: black;
                // -webkit-box-shadow: 12px 12px 27px -7px rgba(0,0,0,0.75);
                // -moz-box-shadow: 12px 12px 27px -7px rgba(0,0,0,0.75);
                // box-shadow: 12px 12px 27px -7px rgba(0,0,0,0.75);
                border: 1px solid rgba(0,0,0,.15);
                // li:first-child:hover::before{
                //     background: #ced4da;
                // }
                &::before{
                    content: "";
                    z-index: 1000;
                    position: absolute;
                    bottom: 100%;
                    right: 50px;
                    border-width: 0 6px 7px 6px;
                    border-color: white transparent;
                    border-style: solid;
                }
                li{
                    width: 20rem;
                    padding: 0.5rem;
                    background: white;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    a{
                        border: none;
                        text-align: left;
                        text-decoration: none;
                        padding: 0.5rem 1rem;
                        border-radius: 0; 
                        background: transparent;
                        color: black;
                        width: auto;
                        height: auto;
                        font-size: 1.4rem;
                        font-weight: 400;
                        // border-radius: 5px;
                        // text-transform: uppercase;
                    }
                    i{
                        color: #ccc;
                        font-size: 18px;
                        padding-right: 10px;
                    }
                    &:hover{
                        a{
                            color: #007bff;
                        }
                    }    
                }
                a{
                    text-align: left;
                    text-decoration: none;
                    padding: 0.5rem 4rem;
                    border-radius: 0; 
                    background: white;
                    color: grey;
                    width: auto;
                    height: auto;
                    font-size: 1.5rem;
                    font-weight: 400;
                    // border-radius: 5px;
                    border-bottom: 0.2px solid white;
                    width: 25rem;
                    border: 1px solid rgba(0,0,0,.15);
                    // border: 0.5px solid #0b9ca3;
                    text-align: center;
                    display: block;
                    border: 0.5 solid white;
                    box-shadow: none;

                    // &:hover{
                    //     background: #ced4da;
                    // }
                }
                
            }
        }
        .btn-lock{
            margin: .3rem 1rem 0 0;
            padding: .3rem .8rem .2rem;
            // border-radius: 50%;
            border: none;
            outline: none;
            background: none;
            // background-color: #fff;
            // -moz-box-shadow: 1px 2px 5px 1px black;
            // -webkit-box-shadow: 1px 2px 5px 1px black;
            // box-shadow: 1px 2px 5px 1px black;
            // border: 0.5px solid #0085C1;
            i{
                color: white;
            }
            border: 0.5px solid transparent;
            &:hover{
                border: 0.5px solid white;
            }
        }
        .popup-lock{
            background-color: rgba(0,0,0,.9);
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 1;
            display: none;
            .lock-pass{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                max-width: 400px;
                width: 100%;
                input{
                    padding: 1rem;
                    outline: none;
                    border: none;
                    font-size: 16px;
                    border-radius: 4px;
                    width: 100%;
                    position: absolute;
                    left: 50%;
                    top: 1500px;
                    transform: translate(-50%,-50%);
                    
                }
                .text-vali{
                    color: #31b131;
                    font-size: 16px;
                    position: absolute;
                    top: -50px;
                    left: 50%;
                    margin-left: -50px;
                    z-index: 3;
                    display: none;
                    font-weight: 500;
                    animation-iteration-count: infinite;
                    animation-duration: 5s;
                }
                .btn-lock-open{
                    padding: 2.3rem 2.7rem;
                    border-radius: 50%;
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    top: 50%;
                    outline: none;
                    border: none;
                    background-color: #fff;
                    // animation-iteration-count: infinite;
                    box-shadow: 0px 0px 45px 5px #31b131;
                    
                    i{
                        font-size: 32px;
                        color: #31b131;
                    }
                }
            }

        }

        .profile__img{
            // border-radius: 50%;
            overflow: hidden;
            width: 25%;
            height: 2.8rem;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .profile__name{
            width: 70%;
            h3 {
                // width: 3rem;
                font-weight: 300;
            }
        } 
    }

    // .row{
    //     .dashboard-sidebar{

    //         border-top: 1px solid white;
    //         border-right: 1px solid #ccc;
    //         // box-shadow
    //         // -webkit-box-shadow: 1px 0px 5px 0px rgba(0,0,0,1);
    //         // -moz-box-shadow: 1px 0px 5px 0px rgba(0,0,0,1);
    //         // box-shadow: 1px 0px 5px 0px rgba(0,0,0,1);
    //         // 
    //         height: 100vh;
    //         background: white;
    //         width: 24rem;
    //         transition: all .5s ease;
    //         // position: absolute;
    //         // top: 60px;
    //         left: 0;
    //         // overflow: hidden;
    //         // scroll
    //         overflow-y: scroll;
    //         &::-webkit-scrollbar-track
    //         {
    //             -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    //             background-color: #F5F5F5;
    //         }
    
    //         &::-webkit-scrollbar
    //         {
    //             width: 0px;
    //             background-color: #F5F5F5;
    //         }
    
    //         &::-webkit-scrollbar-thumb
    //         {
    //             background-color: #0ae;
                
    //             background-image: -webkit-gradient(linear, 0 0, 0 100%,
    //                             color-stop(.5, rgba(255, 255, 255, .2)),
    //                             color-stop(.5, transparent), to(transparent));
    //         }
    //         // scroll
    
    //         .sidebar-menu{
    //             .sidebar-item{
    //                 border-bottom: 0.1px solid WHITE;
    //                 display: flex;
    //                 align-items: center;
    //                 justify-content: space-between;
    //                 flex-wrap: wrap;
    //                 padding: 0 1rem;
    //                 color: black;
    //                 font-size: 12px;
    //                 cursor: pointer;
    //                 a{
    //                     text-decoration: none;
    //                     display: block;
    //                     padding: 16px 0 16px 15px;
    //                     font-size: 15px;
    //                     outline: none;
    //                     color: #666666;
    //                     font-weight: 600;
    //                     // transition: 0.3s;
    //                     i{
    //                         margin-right: 2rem; 
    //                         // transition: 0.3s;
    //                     }
                        
    //                     .icon{
    //                         font-size: 2rem;
    //                     }
    //                 }
    //                 &:hover{
    //                     a{
    //                         color: rgb(255, 136, 115);
    //                     }
    //                     i{
    //                         color: black;
    //                     }
    //                 }
    //                 // &:focus{
    //                 //     .rote{
    //                 //         transform: rotate(-270deg);
    //                 //         transition: 0.5s;
    //                 //     }
    //                 // }
    //                 .rote{
    //                     transition: 0.3s;
    //                     // cai thang rote nay ko nam trong the a nha, dua no ra ngoai => rotate not rote
    //                 }
    //             }
    //             .sibar-menu-sub{
    //                 list-style: none;
    //                 display: none;
    //                 width: 100%;
    //                 // transition: 0.5s;
    //                 li{
    //                     border-bottom: 0.1px solid WHITE;
    //                     display: flex;
    //                     align-items: center;
    //                     justify-content: space-between;
    //                     flex-wrap: wrap;
    //                     padding: 0 4rem;
    //                     color: black;
    //                     font-size: 12px;
    //                     background: white;
    //                     cursor: pointer;
    //                     a{
    //                         text-decoration: none;
    //                         display: block;
    //                         padding: 16px 0 16px 0px;
    //                         font-size: 14px;
    //                         outline: none;
    //                         color: black;
    //                         font-weight: 400;
    //                     }
    //                     &:hover{
    //                         background: #bbc1c7;
    //                         a{
    //                             color: rgb(255, 136, 115);
    //                         }
    //                     }
    //                 }
    //                 .sibar-menu-sub-lv3{
    //                     list-style: none;
    //                     display: none;
    //                     width: 100%;
    //                     // transition: 0.5s;
    //                     li{
    //                         border-bottom: 0.1px solid WHITE;
    //                         display: flex;
    //                         align-items: center;
    //                         justify-content: space-between;
    //                         flex-wrap: wrap;
    //                         padding: 0 4rem;
    //                         color: black;
    //                         font-size: 12px;
    //                         background: white;
    //                         cursor: pointer;
    //                         a{
    //                             text-decoration: none;
    //                             display: block;
    //                             padding: 16px 0 16px 10px;
    //                             font-size: 14px;
    //                             outline: none;
    //                             color: black;
    //                             font-weight: 400;
    //                         }
    //                         &:hover{
    //                             background: #bbc1c7;
    //                             a{
    //                                 color: rgb(255, 136, 115);
    //                             }
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //         .selected{
    //             background: #ced4da;
    //             transition: 0.5s;
    //             border-left: 5px solid rgb(255, 136, 115);
    //             color: rgb(255, 136, 115);
    //             .rote{
    //                 transform: rotate(-270deg);
    //                 transition: 0.5s
    //             }
    //         }
    //     }
    //     .administrator{
    //         position: fixed;
    //         left: 0;
    //         // right: calc(100vw - 240px);
    //         width: 240px;
    //         bottom: 0;
    //         text-align: center;
    //         transition: all .4s ease;
    //         i{
    //             font-size: 2rem;
    //         }
    //         a{
    //             display: block;
    //             border-top: 1px solid #ccc;
    //             border-right: 1px solid #ccc;
    //             // border-bottom: 1px solid #ccc;
    //             padding: 1rem 0;
    //             // background: white;
    //             text-decoration: none;
    //             font-size: 14px;
    //             outline: none;
    //             // color: #666666;
    //             background: #666666;
    //             color: white;
    //             font-weight: 600;
    //             transition: 0.3s;
    //             &:hover{
    //                 background: white;
    //                 color: rgb(255, 136, 115);
    //                 i{
    //                     color: rgb(255, 136, 115);
    //                 }
    //             }
    //         }
    //     }
    //     .content{
    //         // margin-left: 20rem;
    //         background: #eeeeee;
    //         width: calc(100% - 24rem);
    //         height: 100vh;
    //         padding: 0;
    //         padding:1rem;
    //         padding-bottom: 50vh;
    //         // scroll
    //         overflow-y: scroll;
    //         transition: all 0.5s;
    //         &::-webkit-scrollbar-track
    //         {
    //             -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    //             background-color: #F5F5F5;
    //         }
    
    //         &::-webkit-scrollbar
    //         {
    //             width: 0px;
    //             background-color: #F5F5F5;
    //         }
    
    //         &::-webkit-scrollbar-thumb
    //         {
    //             background-color: #0ae;
                
    //             background-image: -webkit-gradient(linear, 0 0, 0 100%,
    //                             color-stop(.5, rgba(255, 255, 255, .2)),
    //                             color-stop(.5, transparent), to(transparent));
    //         }
    //         // scroll
    //     }
    //     .setwidth{
    //         transform: translateX(-22rem);
    //         width: 0% !important;
    //         opacity: 0;
    //     }
    //     .setwidtha{
    //         width: 99% !important;
    //     }
    //     .setwidthb{
    //         transform: translateX(-22rem);
    //         width: 0% !important;
    //         // opacity: 0;
    //     }
    // }

}
.toggleMenu{
    display: block !important;
}
.hide-in{
    position: absolute;
    top: -500px !important;
    transition: all .8s ease;
}
.show-in{
    position: absolute;
    top: 50% !important;
    transition: all .8s ease;
    display: block !important;
}
@media only screen and (max-width: 992px){
    .dashboard{
        .dashboard-nav{
            .dashboard-search{
                .search-box{
                    display: none;
                }
            }
        }
    }
}