.form-tb-h{
    display: flex;
    flex-direction: column;

}



// .title-form-tb{
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     flex-wrap: wrap;
//     .title-form-tb-t{
//         display: flex;
//         justify-content: center;
//         font-weight: bold;
//     }
//     .title-form-tb-b{
//         display: flex;
//         justify-content: center;
//     }
// }

.kehoachsx-nhapkho-xuathang{
    // padding: 0 2rem;
    .plans__tables-content{
        padding: 0 0 6rem 0; 
    }
    .plans{
        .plans__tables{
            // margin: 0 0 1.5rem 0;
        }
    }

    .contentfix{
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .form-item-input{
            width: 32.3%;
            @media (max-width: 992px ) {
                width: 50%;
            }
            label {
                display: flex;
                text-align: left;
                width: 10rem;
            }
            
        }
    
        .plans{
            width: 33.3%;

            @media (max-width: 992px ) {
                width: 97%;
            }
            
        }   
    }
    
}

.tb-content{
    display: flex;
    justify-content: center;
    margin:0;
}

.main-form-tb{
    border: 2px solid black;
    border-radius: 0.5rem;
    display: block;
    padding: 3.5rem 2rem 2.5rem;
    position: relative;

    .des-table{
        display: inline-block;
        background-color: white;
        font-weight: bold;
        padding: 1rem;
        z-index: inherit;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(1rem) translateY(-2.5rem);
    }
    
        
    

   
}

.button-group{
    display: flex;
    justify-content: center;
    .op-btn{
        border: 1px solid black;
        text-decoration: none;
        color: #666666;
        padding: 0.3rem 0.8rem;
        border-radius: 0.3rem;
        &:hover{
            border: #666666;
            background-color: #666666;
            color: white;
            transition: 0.3s;

        }
    }
}








.form-item-input{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    margin-bottom: 1rem;
    .input-box{
        display: flex;
        width: 80%;
        select{
            height: 3.9rem;
            margin-right: 0.7rem;
            border: 1px solid black;
            border-radius: 0.3rem;
            width: 30%;
        }
    }
    select{
        height: 3.9rem;
        margin-right: 2.5rem;
        border: 1px solid black;
        border-radius: 0.3rem;
    
    }
    label{
        display: inline-block;
        text-align: left;
        width: 15rem;
    }
    .txt-input{
        border: 1px solid black;
        border-radius: 0.3rem;
        padding: 0.5rem 0.8rem;
       @media (max-width: 992px ) {
            width: 60%;
        }
        @media (max-width: 1400px ) {
            width: 80%;
        }
    }
    .number-input{
        border: 1px solid black;
        border-radius: 0.3rem;
        padding: 0.5rem 0.8rem;
        width: 7rem;
    }

    .checkbox-input{
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
        
    }
}



