.plans {
    position: relative;
    // padding: 0 1rem;

    .category__create-btn {
        button {
            // margin: 1rem 1rem 1rem 0;
        }
    }

    .code-week {
        top: .5rem;
        left: .5rem;
        align-items: center;
        justify-content: flex-start;

        span {
            padding-right: 1rem;
        }

        input {
            max-width: 6rem;
        }
    }

    .category__btn {
        right: .5rem;
        top: .5rem;
        justify-content: flex-end;
    }

    .plans__tables-single {
        padding-right: 1rem;

        &:last-child {
            padding-right: 0;
        }
    }

    .plans__notes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;

        input {
            flex-basis: 90%;
        }

        span {
            margin: 0 1rem;
        }
    }

    .category__search-field {
        display: flex;
        justify-content: space-between;
    }

    .plans__btn {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1.5rem;
    }


    .plans__tables {
        display: flex;
        justify-content: space-between;

        .plans__tables-single {
            .plans__tables-title {
                margin-bottom: 1.5rem;
            }

            .plans__tables-title {
                p {
                    padding-right: 1rem;
                }

                display: flex;
                justify-content: flex-start;
            }

            .plans__tables-content {
                max-width: 100%;
            }
        }

    }

    input,
    textarea {
        outline: none !important;
    }
}

.table-3 {
    min-width: 1px !important;
}

.plans__title {
    text-align: center !important;
    padding-top: 1.5rem;
    line-height: 1;
    margin-bottom: 1.5rem;

    span {
        font-size: 1.8rem;
    }
}