.search{
    overflow: hidden;
    .show{
        display: block !important;
        transition: all .5s ease;
        transform: translateY(0) !important;
        pointer-events: auto;
    }
    border-radius: 4px;
    padding: 1.5rem;
    .btn-df{
        font-weight: 500;
        background-color: #4f5467;
        padding: 1rem .5rem;
    }
    .wrapper-search{
        display: flex;
        margin-bottom: 1rem;
        .row{
            width: 100%;
        }
        
        .search-df{
            display: flex;
            margin-right: 1rem;
            .btn-df{
                margin-left: 1rem;
                font-size: 1.2rem;
                width: 20%;
            }
            .ip-df{
                padding-right: 1.5rem;
                padding-left: 1.5rem;
                border-radius: 4px;
                font-size: 1.2rem;
                width: 100%;
                &:focus{
                    outline: none;
                }
            }
        }
        .search-btn-advanced{
            .btn-advanced{
                font-size: 1.2rem;
                width: 100%;
            }
        }
    }
    .search-advanced{
        display: none;
        transition: all .5s ease !important; 
        transform: translateY(300px);
        .box-ip-advanced{
            display: flex;
            justify-content: space-between;
        }
        .ip-advanced{
            padding: .5rem 1.5rem;
            border-radius: 4px;
            font-size: 1.2rem;
            width: 100%;
            margin-right: .5rem;
            margin-bottom: 1rem;
            &:focus{
                outline: none;
            }
            &:last-child{
                margin-right: 0rem;
            }
        }
        .btn-advanceds{
            display: block;
            margin: 0 auto;
            font-size: 1.2rem;
            padding: 1rem 5rem;
        }  
    }
}
@media only screen and (min-width:992px){
    .search{
        .wrapper-search{
            .row{
                flex-wrap: nowrap;
            }
        }
    }
}
@media only screen and (max-width:991px){
    .search{
        .wrapper-search{
            .search-df{
                margin-right: 0;
                margin-bottom: 1rem;
            }
        }
    }
}