 .row{
        .dashboard-sidebar{
            border-top: 1px solid white;
            background: white;
            width: 24rem;
            // transition: all .5s ease;
            left: 0;
            overflow-y: scroll;
            -moz-box-shadow: 2px 5px 5px 0px #00000038;
                -webkit-box-shadow: 2px 5px 5px 0px #00000038;
                box-shadow: 2px 5px 5px 0px #00000038;
            z-index: 1;
            &::-webkit-scrollbar-track
            {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                background-color: #F5F5F5;
            }
    
            &::-webkit-scrollbar
            {
                width: 0px;
                background-color: #F5F5F5;
            }
    
            &::-webkit-scrollbar-thumb
            {
                background-color: #0ae;
                
                background-image: -webkit-gradient(linear, 0 0, 0 100%,
                                color-stop(.5, rgba(255, 255, 255, .2)),
                                color-stop(.5, transparent), to(transparent));
            }
            // scroll
    
            .sidebar-menu{
                .sidebar-item{
                    justify-content:space-between;
                    border-bottom: 0.1px solid WHITE;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: 0 1rem;
                    color: black;
                    font-size: 12px;
                    cursor: pointer;
                    a{
                        text-decoration: none;
                        display: block;
                        padding: 1.5rem 0;
                        font-size: 1.7rem;
                        outline: none;
                        color: #666666;
                        font-weight: 600;
                        // transition: 0.3s;
                        i{
                            margin-right: .5rem; 
                            // transition: 0.3s;
                        }
                        
                        .icon{
                            font-size: 2rem;
                        }
                    }
                    &:hover{
                        a{
                            color: #009efb;
                        }
                        i{
                            color: #0178bc;
                        }
                    }
                    // &:focus{
                    //     .rote{
                    //         transform: rotate(-270deg);
                    //         transition: 0.5s;
                    //     }
                    // }
                    // .rote{
                    //     transition: 0.3s;
                    //     // cai thang rote nay ko nam trong the a nha, dua no ra ngoai => rotate not rote
                    // }
                }
                .sibar-menu-sub-1{
                    list-style: none;
                    display: none;
                    width: 100%;
                    // transition: 0.5s;
                    li{
                        border-bottom: 0.1px solid WHITE;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        padding: 0 2rem;
                        color: black;
                        font-size: 12px;
                        background: white;
                        cursor: pointer;
                        a{
                            text-decoration: none;
                            display: block;
                            padding: 16px 0 16px 0px;
                            font-size: 14px;
                            outline: none;
                            color: #333333;
                            font-weight: 500;
                        }
                        &:hover{
                            background: #bbc1c7;
                            a{
                                color: #009efb;
                            }
                        }
                    }
                    .sibar-menu-sub-2{
                        list-style: none;
                        display: none;
                        width: 100%;
                        // transition: 0.5s;
                        li{
                            border-bottom: 0.1px solid WHITE;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            padding: 0 3rem;
                            color: black;
                            font-size: 12px;
                            background: white;
                            cursor: pointer;
                            a{
                                text-decoration: none;
                                display: block;
                                padding: 16px 0 16px 10px;
                                font-size: 14px;
                                outline: none;
                                color: black;
                                font-weight: 400;
                            }
                            &:hover{
                                background: #bbc1c7;
                                a{
                                    color: #009efb;
                                }
                            }
                        }
                        .sibar-menu-sub-3{
                            list-style: none;
                            display: none;
                            width: 100%;
                            // transition: 0.5s;
                            li{
                                border-bottom: 0.1px solid WHITE;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                flex-wrap: wrap;
                                padding: 0 4rem;
                                color: black;
                                font-size: 12px;
                                background: white;
                                cursor: pointer;
                                a{
                                    text-decoration: none;
                                    display: block;
                                    padding: 16px 0 16px 10px;
                                    font-size: 14px;
                                    outline: none;
                                    color: #111111;
                                    font-weight: 400;
                                }
                                &:hover{
                                    background: #bbc1c7;
                                    a{
                                        color: #009efb;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .selected{
                background: #e1e5e8;
                transition: 0.5s;
                border-left: 5px solid #0178bc ;
                color: #0178bc;
            }
            .selected-1{
                background: #ced4da;
                transition: 0.5s;
            }
            .selected-2{
                background: #ced4da;
                transition: 0.5s;
            }
        }
        .administrator{
            position: fixed;
            left: 0;
            // right: calc(100vw - 240px);
            width: 240px;
            bottom: 0;
            text-align: center;
            // transition: all .4s ease;
            i{
                font-size: 2rem;
            }
            a{
                display: block;
                border-top: 1px solid #ccc;
                border-right: 1px solid #ccc;
                // border-bottom: 1px solid #ccc;
                padding: 1rem 0;
                // background: white;
                text-decoration: none;
                font-size: 14px;
                outline: none;
                // color: #666666;
                background: #666666;
                color: white;
                font-weight: 600;
                transition: 0.3s;
                &:hover{
                    background: white;
                    color: #009efb;
                    i{
                        color: #009efb;

                    }
                }
            }
        }
        .content{
            // margin-left: 20rem;
            background: #eeeeee;
            width: calc(100% - 24rem);
            padding: 0;
            padding:1rem;
            // padding-bottom: 50vh;
            // scroll
            overflow-y: scroll;
            // transition: all 0.5s;
            &::-webkit-scrollbar-track
            {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                background-color: #F5F5F5;
            }
    
            &::-webkit-scrollbar
            {
                width: 0px;
                background-color: #F5F5F5;
            }
    
            &::-webkit-scrollbar-thumb
            {
                background-color: #0ae;
                
                background-image: -webkit-gradient(linear, 0 0, 0 100%,
                                color-stop(.5, rgba(255, 255, 255, .2)),
                                color-stop(.5, transparent), to(transparent));
            }
            // scroll
        }
        .setwidth{
            transform: translateX(-22rem);
            width: 0% !important;
            opacity: 0;
        }
        .setwidtha{
            width: 100% !important;
        }
        .setwidthb{
            transform: translateX(-22rem);
            width: 0% !important;
            // opacity: 0;
        }
    }
