.category__btn {
    display: flex;
    align-items: center;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        font-weight: bold;
        border-radius: 50%;
        border: 1px solid #000;
        font-size: 1.3rem;
        margin-right: 0.5rem;


    }

    span:hover {
        background: #4f5467;
        color: #fff;
    }
}



.category__search-field {
    position: relative;
    padding: 3rem 2rem;
    border: 2px solid #000;
    justify-content: center;

    .search__title {
        position: absolute;
        top: -15px;
        left: 19px;
        background: #fff;
        padding: 0 0.5rem;
        font-weight: bold;
    }
}
.search__form-group {
    position: relative;
    // padding: 1rem;
    // tắt vì nó xấu ở trang danhmucvattu


    span {
        position: absolute;
        top: 53%;
        left: 10%;
        transform: translateY(-50%);
        font-size: 1.2rem;
        cursor: pointer;
        color: #666;
    }

    input {
        width: 100%;
        padding-left: 20%;
        padding-right: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        outline: none;
        font-size: 1.3rem;
        border-radius: 4px;
        border: 2px solid #ccc;
    }

    input::placeholder {
        text-align: left;
        font-size: 1.2rem;
    }
}

.page__count {
    padding: 0.3rem;

    input {
        width: 40px;
        border: 2px solid #ccc;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        opacity: 1;
    }
}

.category__create-btn {
    button {
        padding: .6rem 2rem;
        background: #ccc;
        border-radius: .2rem;
        color: #000;
        box-shadow: none;
        border: 1px solid #ccc;
        font-size: 1.4rem;
        margin: 0;


        &:hover {
            background: #4f5467;
            color: #fff;
        }
    }
}

.category__pagination {
    a {
        text-decoration: none;
        color: #666;

        &:hover {
            color: #333;
        }
    }
}