.responsive-table{
    margin-bottom: 1.5rem;
}
table{
    width:100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.table{
    min-width: 768px;
    .tbl-header{
        background-color: rgb(108, 122, 224);
        tr{
            th:first-child{
                width: 40px !important;
            }
        }
    }
    .tbl-content{
        max-height: 350px;
        overflow: auto;
        margin-top: 0px;
        color: #808080;
        background-color: white;
        overflow-y: auto;
        border-left: 1px solid #fafafa;
        tbody{
            tr{
                td:first-child{
                    width: 40px !important;
                }
            }
        }
    }
    .tbl-footer{
        background-color: rgb(108, 122, 224);
        table{
            td{
                color: white;
                padding: 15px 30px;
                font-size: 16px;
            }
        }
    }
}

th,
tfoot{
    padding: 15px 5px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    color: white;
}
td{
    padding: 10px;
    vertical-align:middle;
    font-weight: 300;
    font-size: 14px;
    text-align: left;
}

//table


.table-hover{
    .tbl-content{
        tr{
            &:hover{
                background-color: rgba(0,0,0,.15) !important;
            }
        }
    }
}

.tbl-light{
    table{
        thead{
            background-color: #fafafa;
            th{
                color: #808080;
            }
        }
    }
}
.tbl-dark{
    table{
        thead{
            background-color: #4f5467;
        }
    }
    .tbl-footer{
        table{
            tr{
                background-color: #4f5467;
            }
        }
    }
}
//Màu TBODY
.tbl-odd-light{
    .tbl-content{
        tr{
            &:nth-child(even){
                background-color: #f2f2f2;
            }
        }
    }
}
.tbl-odd-dark{
    .tbl-content{
        tr{
            &:nth-child(even){
                background-color: #32383e;
            }
        }
    }
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
    height: 5px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

@media (max-width: 992px){
    .responsive-table{
        overflow: auto;
    }
}

.tbl-shadow{
    box-shadow: 0px 0px 7px 0px #32383e;
}
.btn-show{
    padding: 0px 5px;
    background-color: #31b131;
    outline: none;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    box-shadow: 0px 0px 3px 0px #32383e;
    font-weight: 500;
    transition: all .3s ease;
    overflow: hidden;
    position: relative;
    &:hover{
        box-shadow: 0px 0px 15px 0px #32383e;
        transition: all .3s ease;
        background-color: rgb(247, 15, 15);
    }
    // &::before{
    //     content: '';
    //     position: absolute;
    //     width: 80%;
    //     border: 2px solid white;
    //     height: 80%;
    //     border-radius: 50%;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%,-50%);
    // }
    
};
.btn-control{
    position: relative;
    .btn-group-func{
        position: absolute;
        display: none;
        border: 1px solid #f5f5f5;
        z-index: 999;
        font-weight: 500;
    }
}
.btn-table{
    font-size: 12px;
    width: 100%;
    padding: .2rem 1rem;
    background-color: #31b131;
    border: none;
    outline: none;
    color: white;
    transition: all .3s ease;
    border-bottom: 1px solid white;
    &:hover{
        background-color: rgb(247, 15, 15);
        transition: all .3s ease;
    }
}
.dpl-none{
    display: none;
}
.content-down{
    &::before{
        content: "-";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: auto;
        padding-bottom: 5px;
        background-color: rgb(247, 15, 15);
        color: white;
        font-size: 16px;
    }
}