.wrapper-table{
    border: 1px solid #666666;
    padding: 1.5rem;
    margin:.5rem;
}
.block-tabs{
    .tabs-horizontal{
        #tabs-horizontal{
            display: flex;
            align-items: center;
            .container{
                padding: 0;
            }
            .box-tabs{
                padding: 3rem;
                border: 1px solid #666666;
                .table{
                    min-width: 100%;
                    th,td,tr{
                        font-size: 1rem;
                    }
                    td{
                        padding: 10px 5px;
                    }
                }
            }
        }
        ul{
            width: 40%;
            list-style-type: none;
            font-size: 1rem;
            li{
                border: 1px solid #666666;
                border-right:none;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                text-align: center;
                padding: .3rem 0;
                margin: .5rem 0;
                &:hover{
                    background-color: #eeeeee;
                }
                a{  
                    display: block;
                    color: #666666;
                    text-decoration: none;
                    &:focus{
                        outline: none;
                    }
                    &:hover{
                        color: #333333;
                    }
                }
            }
        }
    }
    .table .tbl-content{
        max-height: 200px;
    }
    .wrapper-notification{
        .notification-block{
            padding: 3rem;
            border: 1px solid #666666;
            margin-top: 3rem;
            .title-notififcation{
                display: flex;
                align-items: center;
                justify-content: space-between;
                h1{
                    font-size: 1.8rem;
                }
                a{
                    font-size: 1.3rem;
                }
            }
            #notification-text{
                width: 100%;
                padding: 1.5rem;
                resize: none;
                outline: none;
            }
        }
    }
    .tabs-vertical{
        #tabs-vertical{
            display: block;
            align-items: center;
            .container{
                padding: 0;
            }
            .box-tabs{
                padding: 3rem;
                border: 1px solid #666666;
                .table{
                    min-width: 100%;
                    th,td,tr{
                        font-size: 1rem;
                    }
                    td{
                        padding: 10px 5px;
                    }
                }
            }
        }
        ul{
            display: flex;
            list-style-type: none;
            font-size: 1.1rem;
            margin: 1rem 1.5rem 0 1.5rem;
            overflow: hidden;
            li{
                border: 1px solid #989898;
                border-bottom: none;
                border-right: none;
                font-size: 1.3rem;
                text-align: center;
                margin: .5rem .3rem 0 0;
                z-index: 4;
                border-top-right-radius: 5px;
                position: relative;
                &:hover{
                    background-color: #eeeeee;
                }
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    border-bottom: 5rem solid #4f5467;
                    border-right: 1.9rem solid #ffffff00;
                    top: 3px;
                    right: -19px;
                    z-index: -5;
                }
                a{  
                    border-top-right-radius: 5px;
                    padding: .3rem;
                    z-index: 6;
                    background-color: #4f5467;
                    display: block;
                    color: #fff;
                    text-decoration: none;
                    &:focus{
                        outline: none;
                    }
                    &:hover{
                        color: #eeeeee;
                    }
                }
            }
        }
    }
}
#mychart-colum{
    width: 100% !important;
    margin: 0 auto;
}
@media only screen and (min-width:1500px){
    .f-nowrap{
        flex-wrap: nowrap;
    }
    
    .cs-col-xl-6{
        max-width: 50%;
        display: flex;
        align-items: center;
    }
}
@media only screen and (max-width:992px){
    .block-tabs{
        .tabs-horizontal{
            #tabs-horizontal{
                display: block; 
                .box-tabs{
                    padding: 1rem .5rem;
                    box-shadow: none;
                }
            }
            ul{
                display: flex;
                width: 100%;
                li{
                    border: 1px solid #666666;
                    border-bottom:none;
                    margin: 0 .2rem;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    border-bottom-left-radius: 0;
                    padding: .5rem;
                }
            }
        }
    }
}