//--------------------------------------------------------------Tree View----------------------------------------------//


.form-input-tv{
  display: flex;
  justify-content: center;
  border: 2px solid black;
  width: 100%;
  padding: 2rem 1rem;
  .productCode{
    display: flex;
    justify-content: center;
    padding: 1rem 0.5rem;
    width: 480px;
    border: 1px solid black;
  }
  .btn-search-tv{
    .category__create-btn{
      button{
        margin: 0;
        height: 5rem;
      }
    }
    width: 11%;
  }
}

.product-wrap{
  display: none;
}


.parent-product {
  position: relative;
  span {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      opacity: 1;
    }
  }

  p {
    padding-right: 1rem;
  }

  .wrap-product-number {
    width: 28rem;
    display: block;
  }
}
.margin-child{
  margin-left: 1.5rem;
}

.tree-view {
  padding: 2rem;

  p {
    padding-left: 1.5rem;
  }

  ul {
    transition: 1s;
    list-style-type: none;

    .parent-tv {
      display: flex;
      user-select: none;

      &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f105 ";
        color: #656565;
        font-weight: bold;
        display: inline-block;
        margin-right: 0.5rem;
        transition: 0.3s;
      }
    }
  }
}

.wrap-ul-tv {
  animation-name: example;
  animation-duration: 0.5s;
  padding-left: 4rem;
  display: none;
  width: 100%;
}

.icon-change::before {
  transform: rotate(90deg);
}

.active-treeview {
  display: flex;
}

input.productNumber {
  width: 4rem;
}

.child-item {
  display: flex;
}

@keyframes example {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



















// .jstree-node{
//   display:block;
// }
// .jstree-node .jstree-children .jstree-node{
//   display: block;
// }
// .active-treeview{
//   display: block;
// }
// .jstree-themeicon{
//   display: block;
// }
// #inputProductCode{
//   margin-bottom: 2rem;
// }