<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
        //- link(rel="stylesheet", href="../../../dist/css/jquery.autocomplete.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
        link(rel="stylesheet", href="../../../dist/css/styles.css")  
    body
        section.dashboard
            include ../patials/header.pug
            .row.row-nowrap
                include ../patials/sidebar.pug
                block main-content
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        //- script(src="../../js/jquery.autocomplete.js")  
        script(src="../../js/dashboard-block-tabs.js")
        script(src="../../js/dashboard.js")
        script(src="../../js/table.js")
        script(src="../../js/treeview.js")
        script(src="../../js/dashboard-content.js")
        script(src="../../js/chart-demo.js")
        script(src="../../js/search.js")
        

        
        
