.row.chart-pie
    .pie-1
        <canvas id="chart-pie-1"></canvas>
    .pie-1
        <canvas id="chart-pie-2"></canvas>
.chart-bar
    <canvas id="chart-bar"></canvas>
.chart-line
    <canvas id="chart-line"></canvas>