section.form-table-h.pd-lr1-5
    .container-flex-right
        .category__btn
            span ?
            span X
    h2.plans__title Danh mục - Phân loại vật tư
        //- br
        //- span Từ ngày 25/02/2019 đến 02/03/2019

    .container-flex
        .row.tb-content
            fieldset.main-form-tb.pb-tb2.cs-col-xl-12.col-12.col-lg-12.col-md-12.col-sm-12
                legend Tìm kiếm
                .form-item-input
                    //- label(for="#macan") Mã cân
                    select
                        option(value="0") C001
                    input(type="text" value="bộ cắt kim bánh răng cân nhỏ: 500 gram").txt-input#macan
                .form-item-input
                    label(for="ngayghi") Ghi Chú
                    input(type="textarea")#ghichu.txt-input
        .page__count
            input(type="number" placeholder="1")
    .responsive-table
        .table.table-hover.tbl-odd-light.tbl-shadow.tbl-dark
            .tbl-header
                table
                    thead
                        tr
                            th 
                            th Id
                            th Company
                            th Price
                            th Change
                            th Change %
            .tbl-content
                table
                    tbody
                        tr
                            td
                                .btn-control
                                    button.btn-show#btn-id +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table(onClick="remove(id)") Xóa
                            td 1
                            td AUSTRALIAN COMPANY
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 2
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 3
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 4
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 5
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 6
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 7
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 8
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 9
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 10
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 11
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 12
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 13
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 14
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 15
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 16
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 17
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 18
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 19
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 20
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 21
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 22
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 23
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 24
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 25
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 26
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 27
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 28
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 29
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 30
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
            .tbl-footer
                table
                    tfood
                        tr 
                            td Tổng
    .container-flex-right
        .category__pagination
            a(href="#")
                span Trước 
            span | 
            a(href="#")
                span 1 
            span | 
            a(href="#")
                span 2 
            span | 
            a(href="#")
                span 3 
            span | 
            a(href="#")
                span ... 
            span | 
            a(href="#")
                span Sau
    .row.tb-content
            fieldset.main-form-tb.pb-tb2.cs-col-xl-12.col-12.col-lg-12.col-md-12.col-sm-12
                legend Thêm mới, Chỉnh sửa
                .container-flex
                    .input-info
                        .form-item-input
                            label(for="#macan") Mã chi tiết
                            .input-box
                                select
                                    option(value="0") I1AZ33-902
                                input(type="text" value="bộ cột kim - BR 1-2-5 hợp kim").txt-input#machitiet
                        .form-item-input
                            label(for="ngayghi") Ghi Chú
                            input(type="textarea")#ghichu.txt-input
                        .form-item-input
                            label(for="ngayghi") Đơn vị tính
                            input(type="textarea" value="Bộ")#donvitinh.txt-input
                        .form-item-input
                            label(for="ngayghi") Ghi Chú
                            input(type="textarea" value="bánh răng hợp kim gia công ngoài")#ghichu.txt-input
                    .submit-info
                        .category__create-btn
                            button Thêm/Cập nhật