section.form-table-h.pd-lr1-5
    .container-flex-right
        .category__btn
            span ?
            span X
    h2.plans__title Danh mục vật tư
        //- br
        //- span Từ ngày 25/02/2019 đến 02/03/2019

    .container-flex
        .search__form-group.col-md-4
            a(href="#")
                span 
                    <i class="fas fa-search"></i>
            input(type="text" placeholder="Tìm theo mã")
        .page__count
            input(type="number" placeholder="1")
    .responsive-table
        .table.table-hover.tbl-odd-light.tbl-shadow.tbl-dark
            .tbl-header
                table
                    thead
                        tr
                            th 
                            th Id
                            th Company
                            th Price
                            th Change
                            th Change %
            .tbl-content
                table
                    tbody
                        tr
                            td
                                .btn-control
                                    button.btn-show#btn-id +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table(onClick="remove(id)") Xóa
                            td 1
                            td AUSTRALIAN COMPANY
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 2
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 3
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 4
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 5
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 6
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 7
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 8
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 9
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 10
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 11
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 12
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 13
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 14
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 15
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 16
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 17
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 18
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 19
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 20
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 21
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 22
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 23
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 24
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 25
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 26
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 27
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 28
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 29
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 30
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
            .tbl-footer
                table
                    tfood
                        tr 
                            td Tổng
    .container-flex
        .category__create-btn
            button Tạo mới
        .category__pagination
            a(href="#")
                span Trước 
            span | 
            a(href="#")
                span 1 
            span | 
            a(href="#")
                span 2 
            span | 
            a(href="#")
                span 3 
            span | 
            a(href="#")
                span ... 
            span | 
            a(href="#")
                span Sau