section.form-table-h.pd-lr1-5
    .container-flex-right
        .category__btn
            span ?
            span X
    h2.plans__title Danh mục - Phân loại vật tư - Chi tiết
        //- br
        //- span Từ ngày 25/02/2019 đến 02/03/2019


    .row.tb-content
        fieldset.main-form-tb.pb-tb2.cs-col-xl-12.col-12.col-lg-12.col-md-12.col-sm-12
            legend Thông tin
            .form-item-input
                label(for="ngayghi") Ngày ghi
                input(type="date")#ngayghi.txt-input


            .form-item-input
                label(for="maloai") Mã loại
                input(type="text" value="W1EX11")#maloai.txt-input  


            .form-item-input
                label(for="ten") Tên
                input(type="text" value="Cân trung 30 đến 49kg XK CRAFT")#ten.txt-input  
            .form-item-input
                label(for="capnhom") Cấp Nhóm
                input(type="number" value="3" style="width: 7rem; border: 1px solid black; padding: 0.5rem 0.8rem;")#capnhom.number-input
            .form-item-input
                input(type="checkbox")#form.checkbox-input    
                label(for="form") Chi Tiết
            .form-item-input
                label(for="maloai") Ghi Chú
                input(type="text" value="Xấu Khẩu Mỹ")#maloai.txt-input 
        .btn-indent
            .category__create-btn
                button Chỉnh sửa
        .btn-indent 
            .category__create-btn            
                button Xóa