section.dashboard
    div.dashboard-nav
        div.dashboard-menu
            //- .logo__img
            //-     img(src="../../assets/logoCanNhonHoa.jpg", alt="")
            h1 NHƠN HÒA
            ul.menu-sub
                li.m-1
                    a(href="#")#toggle-menu
                        <i class="fas fa-bars"></i>
                .nav-box1        
                    li.dropdownmenu1.m-1
                        a(href="#")
                            <i class="fas fa-tasks"></i>
                        ul.notifi__box
                            li
                                a(href="#") Danh mục
                                p  25%, Deadline 12 june's 13
                                ul.menu-sub-right
                                    li
                                        a(href="#") Phân loại vật tư
                                    li
                                        a(href="#") hello
                                    li
                                        a(href="#") hello

                            li
                                a(href="#") Báo cáo
                                p 45%, Deadline 25 june's 13
                                ul.menu-sub-right
                                    li
                                        a(href="#") hello
                                    li
                                        a(href="#") hello
                                    li
                                        a(href="#") hello
                            li
                                a(href="#") Báo cáo nhanh
                                p 87%, Deadline 12 june's 13
                                ul.menu-sub-right
                                    li
                                        a(href="#") hello
                                    li
                                        a(href="#") hello
                                    li
                                        a(href="#") hello
                            li
                                a(href="#") Sổ dư đầu kỳ
                                p 33%, Deadline 12 june's 13
                                ul.menu-sub-right
                                    li
                                        a(href="#") hello
                                    li
                                        a(href="#") hello
                                    li
                                        a(href="#") hello
                            li
                                a(href="#") Kế hoạch
                                p 33%, Deadline 12 june's 13
                                ul.menu-sub-right
                                    li
                                        a(href="#") hello
                                    li
                                        a(href="#") hello
                                    li
                                        a(href="#") hello
                            li
                                a(href="#") Gia công
                                p 33%, Deadline 12 june's 13
                                ul.menu-sub-right
                                    li
                                        a(href="#") hello
                                    li
                                        a(href="#") hello
                                    li
                                        a(href="#") hello
                            li
                                a(href="#") Cấp hàng
                                p 33%, Deadline 12 june's 13
                                ul.menu-sub-right
                                    li
                                        a(href="#") hello
                                    li
                                        a(href="#") hello
                                    li
                                        a(href="#") hello
                            a(href="#") See all task
                            //- <i class="fas fa-caret-up"></i>
                //- .nav-box1         
                //-     li.dropdownmenu1
                //-         a(href="#")
                //-             <i class="fas fa-briefcase"></i>
                //-         ul.notifi__box
                //-             li
                //-                 a(href="#") Target Sell
                //-                 p  25%, Deadline 12 june's 13
                //-             li
                //-                 a(href="#") Troduct Selivery
                //-                 p 45%, Deadline 25 june's 13
                //-             li
                //-                 a(href="#") Payment Collecttion
                //-                 p 87%, Deadline 12 june's 13
                //-             li
                //-                 a(href="#") Target Sell
                //-                 p 33%, Deadline 12 june's 13
                //-             a(href="#") See all task
                //-             //- <i class="fas fa-caret-up"></i>
        
        div.dashboard-search
            <div class="search-box">
                <input class="input-box" type="text" placeholder="search something">
                <a class="search-btn" href="#">
                    <i class="fas fa-search"></i>
                </a>
            </div>
            ul.menu-sub
                .nav-box1 
                    li.dropdownmenu1.m-1
                        a(href="#")
                            <i class="far fa-list-alt"></i>
                            span 1
                        ul.notifi__box
                            li
                                a(href="#") Target Sell
                                p  25%, Deadline 12 june's 13
                            li
                                a(href="#") Troduct Selivery
                                p 45%, Deadline 25 june's 13
                            li
                                a(href="#") Payment Collecttion
                                p 87%, Deadline 12 june's 13
                            li
                                a(href="#") Target Sell
                                p 33%, Deadline 12 june's 13
                            a(href="#") See all task
                            //- <i class="fas fa-caret-up"></i>
                .nav-box1 
                    li.dropdownmenu1.m-1
                        a(href='#')
                            <i class="far fa-envelope"></i>
                            span 99
                        ul.notifi__box
                            li
                                a(href="#") Target Sell
                                p  25%, Deadline 12 june's 13
                            li
                                a(href="#") Troduct Selivery
                                p 45%, Deadline 25 june's 13
                            li
                                a(href="#") Payment Collecttion
                                p 87%, Deadline 12 june's 13
                            li
                                a(href="#") Target Sell
                                p 33%, Deadline 12 june's 13
                            a(href="#") See all task
                            //- <i class="fas fa-caret-up"></i>
                .nav-box1 
                    li.dropdownmenu1.m-1
                        a(href="#")
                            <i class="far fa-bell"></i>
                            span 2
                        ul.notifi__box
                            li
                                a(href="#") Target Sell
                                p  25%, Deadline 12 june's 13
                            li
                                a(href="#") Troduct Selivery
                                p 45%, Deadline 25 june's 13
                            li
                                a(href="#") Payment Collecttion
                                p 87%, Deadline 12 june's 13
                            li
                                a(href="#") Target Sell
                                p 33%, Deadline 12 june's 13
                            a(href="#") See all task
                            //- <i class="fas fa-caret-up"></i>

        .nav-box1.row
            div.profile.dropdownmenu1.m-1
                div.profile__img
                    img(src="../../../dist/assets/images/5699c0e76c8947eca373e74dcff7c791.webp", alt="")
                div.profile__name 
                    h3 John Wick
                ul.notifi__box
                    li
                        a(href="#") Profile
                    li
                        a(href="#") Log Out
            .nav-box1
                button.btn-lock
                    i.fas.fa-lock
                .popup-lock
                    form.lock-pass.row
                        span.text-vali.bounceIn Mật khẩu là 123
                        input.pass-in(type="text")
                        .btn-lock-open
                            i.fas.fa-unlock-alt

    .row
        div.dashboard-sidebar#toggleclick
            ul.sidebar-menu
                .nav-box.selected
                    li.sidebar-item
                        a(href="#")
                            <i class="fas fa-tachometer-alt icon"></i> Tổng quan
                .nav-box
                    li.sidebar-item.dropdownmenu
                        a(href="#")
                            <i class="fab fa-elementor icon"></i> Lập kế hoạch
                        <i class="fas fa-chevron-right rote"></i>
                    ul.sibar-menu-sub
                        li.sibar-menu-item
                            a(href="#") Kế hoạch SX- NK -XH
                        li.sibar-menu-item
                            a(href="#") Kế hoạch sản xuất
                        li.sibar-menu-item
                            a(href="#") Xưởng lắp ráp
                        li.sibar-menu-item
                            a(href="#") Xưởng chi tiết
                        li.sibar-menu-item
                            a(href="#") Xưởng tole (X1)
                        li.sibar-menu-item
                            a(href="#") Xưởng kéo (X8)   
                .nav-box
                    li.sidebar-item
                        a(href="#")
                            <i class="fab fa-font-awesome-alt icon"></i>Kiểm hóa
                .nav-box
                    li.sidebar-item
                        a(href="#")
                            <i class="fas fa-th"></i> Theo dõi nhập
                .nav-box
                    li.sidebar-item.dropdownmenu
                        a(href="#")
                            <i class="fas fa-server icon"></i> Điều chuyển vật tư
                    //-     <i class="fas fa-chevron-right rote"></i>
                    //- ul.sibar-menu-sub
                    //-     li.sibar-menu-item
                    //-         a(href="#") Typography
                    //-     li.sibar-menu-item
                    //-         a(href="#") Glyphicon
                    //-     li.sibar-menu-item
                    //-         a(href="#") Grids
                li.sidebar-item
                    a(href="#")
                        <i class="fas fa-envelope"></i> Hợp đồng
                    <i class="fas fa-chevron-right"></i>
                li.sidebar-item
                    a(href="#")
                        <i class="fas fa-chart-bar"></i> Định mức
                    <i class="fas fa-chevron-right"></i>
                li.sidebar-item
                    a(href="#") 
                        <i class="fas fa-map-marked-alt"></i>Quản lý kho
                    <i class="fas fa-chevron-right"></i>
                li.sidebar-item
                    a(href="#")
                        <i class="fas fa-glass-martini-alt"></i> Quản lý xưởng
                    <i class="fas fa-chevron-right"></i>
        div.content#toggleclicka
            .row.f-nowrap
                .wrapper-table.cs-col-xl-6.col-12.col-lg-12.col-md-12.col-sm-12
                    include chart-table.pug
                .wrapper-table.cs-col-xl-6.col-12.col-lg-12.col-md-12.col-sm-12
                    include tabs-block.pug
            .wrapper-table
                include tabs-vertical-block.pug

                    