section.form-table-h.pd-lr1-5
    .plans
        .row        
            .code-week.col-6
                span Mã tuần
                input(type="number" placeholder="0054")
            .category__btn.col-6
                span ?
                span x
        h2.plans__title Kế hoạch Sản xuất - Nhập Kho - Xuất hàng 
            br
            span Từ ngày 25/02/2019 đến 02/03/2019


        
    
    .kehoachsx-nhapkho-xuathang
        .plans
            .plans__tables.row
                .plans__tables-single.col-lg-4
                    .plans__tables-title    
                        p Xưởng 06
                        .tables__checkbox
                            input(type="checkbox" id="over")
                            label(for="over") Thêm giờ
        .responsive-table
            .table.table-hover.tbl-odd-light.tbl-shadow.tbl-dark
                .tbl-header
                    table
                        thead
                            tr
                                th 
                                th Mã cân
                                th Tên
                                th Số lượng
                                
                            
                .tbl-content
                    table
                        tbody
                            tr
                                td
                                    .btn-control
                                        button.btn-show#btn-id +
                                        .btn-group-func
                                            button.btn-table Thêm
                                            button.btn-table Sửa
                                            button.btn-table(onClick="remove(id)") Xóa
                                td 1
                                td AUSTRALIAN COMPANY
                                td $1.38
                                
                                
                            tr
                                td
                                    .btn-control
                                        button.btn-show +
                                        .btn-group-func
                                            button.btn-table Thêm
                                            button.btn-table Sửa
                                            button.btn-table Xóa
                                td 2
                                td AUSTRALIAN COMPANY 
                                td $1.38
                                
                                
                            tr
                                td
                                    .btn-control
                                        button.btn-show +
                                        .btn-group-func
                                            button.btn-table Thêm
                                            button.btn-table Sửa
                                            button.btn-table Xóa
                                td 3
                                td AUSTRALIAN COMPANY 
                                td $1.38
                                
                                
                            tr
                                td
                                    .btn-control
                                        button.btn-show +
                                        .btn-group-func
                                            button.btn-table Thêm
                                            button.btn-table Sửa
                                            button.btn-table Xóa
                                td 4
                                td AUSTRALIAN COMPANY 
                                td $1.38
                .tbl-footer
                    table
                        tfood
                            tr 
                                td Tổng                
                                
                                

        .row.tb-content
            fieldset.main-form-tb.pb-tb2.cs-col-xl-12.col-12.col-lg-12.col-md-12.col-sm-12
                legend Chỉnh sửa
                .contentfix
                    .form-item-input
                        label(for="#macan") Mã cân
                        .input-box
                            select
                                option(value="0") C001
                            input(type="text" value="cân 10kg/6 Viss/8''/Myanmar/D.Inox T ").txt-input#macan

                    .form-item-input
                        label(for="ten") Số lượng
                        input(type="text")#ten.txt-input  
                    .plans
                        .plans__btn
                            .category__create-btn
                                button Thêm/Cập nhật
            .btn-indent
                .category__create-btn
                    button Quay lại
            .btn-indent            
                .category__create-btn
                    button Kế tiếp