.container
    .form-search
        .row.tb-content
            .main-form-tb.pb-tb2.cs-col-xl-12.col-12
                .des-table
                    p Thông tin
                .row
                    .form-item-input.col-6
                        label(for="ngayghi") Tổ
                        input(type="text")


                    .form-item-input.col-6
                        label(for="maloai") Kcấp
                        input(type="text")

                .row
                    .form-item-input.col-6
                        label(for="maloai") Mã VT
                        input(type="text") 
                    
                    .form-item-input.col-6
                        label(for="maloai") Tên VT
                        input(type="text") 

                .form-item-input.d-flex
                    label.w-8(for="maloai") KH
                    input(type="text")
                .row
                    select
                        option T2
                        option T3
                        option T4
                        option T5
                        option T6
                        option T7
                        option CN
                    input.col-3(type="text")
        .btn-indent
            .category__create-btn
                button Chỉnh sửa
        .btn-indent 
            .category__create-btn            
                button Xóa