div.dashboard-nav
    div.dashboard-menu
        //- .logo__img
        //-     img(src="../../assets/logoCanNhonHoa.jpg", alt="")
        h1 NHƠN HÒA
        ul.menu-sub
            li.m-1
                a(href="#")#toggle-menu
                    <i class="fas fa-bars"></i>
            .nav-box1        
                li.dropdownmenu1.m-1
                    a(href="#")
                        <i class="fas fa-tasks"></i>
                    ul.notifi__box
                        li
                            a.task__link(href="#") Danh mục
                            //- p  25%, Deadline 12 june's 13
                            ul.menu-sub-right
                                li
                                    a(href="../pages/danhmucvattu.html") Danh mục vật tư
                                li
                                    a(href="../pages/danhmuc-chitietvattu.html") Phân loại vật tư
                                li
                                    a(href="../pages/danhmuc-phanloaivattu-chitiet.html") Phân loại vật - tư chi tiết
                                li
                                    a(href="../pages/treeview.html") Demo - treeview
                                   


                        li
                            a.task__link(href="#") Báo cáo
                            //- p 45%, Deadline 25 june's 13
                            ul.menu-sub-right
                                li
                                    a(href="#") hello
                                li
                                    a(href="#") hello
                                li
                                    a(href="#") hello
                        li
                            a.task__link(href="#") Báo cáo nhanh
                            //- p 87%, Deadline 12 june's 13
                            ul.menu-sub-right
                                li
                                    a(href="#") hello
                                li
                                    a(href="#") hello
                                li
                                    a(href="#") hello
                        li
                            a.task__link(href="#") Sổ dư đầu kỳ
                            //- p 33%, Deadline 12 june's 13
                            ul.menu-sub-right
                                li
                                    a(href="#") hello
                                li
                                    a(href="#") hello
                                li
                                    a(href="#") hello
                        li
                            a.task__link(href="#") Kế hoạch
                            //- p 33%, Deadline 12 june's 13
                            ul.menu-sub-right
                                li
                                    a(href="#") hello
                                li
                                    a(href="#") hello
                                li
                                    a(href="#") hello
                        li
                            a.task__link(href="#") Gia công
                            //- p 33%, Deadline 12 june's 13
                            ul.menu-sub-right
                                li
                                    a(href="#") hello
                                li
                                    a(href="#") hello
                                li
                                    a(href="#") hello
                        li
                            a.task__link(href="#") Cấp hàng
                            //- p 33%, Deadline 12 june's 13
                            ul.menu-sub-right
                                li
                                    a(href="#") hello
                                li
                                    a(href="#") hello
                                li
                                    a(href="#") hello
                        //- a(href="#") See all task
                        //- <i class="fas fa-caret-up"></i>
            //- .nav-box1         
            //-     li.dropdownmenu1
            //-         a(href="#")
            //-             <i class="fas fa-briefcase"></i>
            //-         ul.notifi__box
            //-             li
            //-                 a(href="#") Target Sell
            //-                 p  25%, Deadline 12 june's 13
            //-             li
            //-                 a(href="#") Troduct Selivery
            //-                 p 45%, Deadline 25 june's 13
            //-             li
            //-                 a(href="#") Payment Collecttion
            //-                 p 87%, Deadline 12 june's 13
            //-             li
            //-                 a(href="#") Target Sell
            //-                 p 33%, Deadline 12 june's 13
            //-             a(href="#") See all task
            //-             //- <i class="fas fa-caret-up"></i>
    
    div.dashboard-search
        <div class="search-box">
            <input class="input-box" type="text" placeholder="search something">
            <a class="search-btn" href="#">
                <i class="fas fa-search"></i>
            </a>
        </div>
        ul.menu-sub
            .nav-box1 
                li.dropdownmenu1.m-1
                    a(href="#")
                        i.fas.fa-list-alt
                        span
                    ul.notifi__box
                        h3.notifi__title Notifications
                        .scroll
                            li
                                a(href="#") Target Sell
                                p  25%, Deadline 12 june's 13
                            li
                                a(href="#") Troduct Selivery
                                p 45%, Deadline 25 june's 13
                            li
                                a(href="#") Payment Collecttion
                                p 87%, Deadline 12 june's 13
                            li
                                a(href="#") Target Sell
                                p 33%, Deadline 12 june's 13
                        
                        //- <i class="fas fa-caret-up"></i>
            .nav-box1 
                li.dropdownmenu1.m-1
                    a(href='#')
                        i.fas.fa-envelope
                        span
                    ul.notifi__box
                        h3.notifi__title You have 4 new messages
                        .scroll
                            li.message__item
                                .message__avatar
                                    img(src="../../../dist/assets/images/hale.png", alt="")
                                .messages__content
                                    a(href="#") Hà Lê
                                    p  25%, Deadline 12 june's 13
                            li.message__item
                                .message__avatar
                                    img(src="../../../dist/assets/images/hoangle.jpg", alt="")
                                .messages__content
                                    a(href="#") Hoàng Lê
                                    p 45%, Deadline 25 june's 13
                            li.message__item
                                .message__avatar
                                    img(src="../../../dist/assets/images/khanhvy.png", alt="")
                                .messages__content
                                    a(href="#") Khánh Vy
                                    p 87%, Deadline 12 june's 13
                            li.message__item
                                .message__avatar
                                    img(src="../../../dist/assets/images/boss.png", alt="")
                                .messages__content
                                    a(href="#") James
                                    p 33%, Deadline 12 june's 13
                        //- <i class="fas fa-caret-up"></i>
            .nav-box1 
                li.dropdownmenu1.m-1
                    a(href="#")
                        i.fas.fa-bell
                        span 
                    ul.notifi__box
                        h3.notifi__title Event
                        .scroll
                            li
                                a(href="#") Target Sell
                                p  25%, Deadline 12 june's 13
                            li
                                a(href="#") Troduct Selivery
                                p 45%, Deadline 25 june's 13
                            li
                                a(href="#") Payment Collecttion
                                p 87%, Deadline 12 june's 13
                            li
                                a(href="#") Target Sell
                                p 33%, Deadline 12 june's 13
                        //- <i class="fas fa-caret-up"></i>

    .nav-box1.row
        div.profile.dropdownmenu1.m-1
            div.profile__img
                img(src="../../../dist/assets/images/5699c0e76c8947eca373e74dcff7c791.webp", alt="")
            div.profile__name 
                h3 Administor
            ul.notifi__box
                li
                    a(href="#") Thông tin tài khoản 
                    i.fas.fa-user-alt
                li
                    a(href="#") Đăng Xuất
                    i.fas.fa-sign-out-alt
        .nav-box1
            button.btn-lock
                i.fas.fa-lock
            .popup-lock
                form.lock-pass.row
                    span.text-vali.bounceIn Mật khẩu là 123
                    input.pass-in(type="text")
                    .btn-lock-open
                        i.fas.fa-unlock-alt
//- .navbar.navbar-inverse(role='navigation')
//-   .navbar-header
//-     a.navbar-brand(href='index.html#') Nhơn Hòa
//-     //-   img(src='images/logo.png', alt='Londinium')
//-     a.sidebar-toggle
//-       i.icon-paragraph-justify2
//-     button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-icons')
//-       span.sr-only Toggle navbar
//-       i.icon-grid3
//-     button.navbar-toggle.offcanvas(type='button')
//-       span.sr-only Toggle navigation
//-       i.icon-paragraph-justify2
//-   ul#navbar-icons.nav.navbar-nav.navbar-right.collapse(style='height: 1px;')
//-     li.dropdown
//-       a.dropdown-toggle(data-toggle='dropdown')
//-         i.icon-people
//-         span.label.label-default 2
//-       .popup.dropdown-menu.dropdown-menu-right(style='display: none;')
//-         .popup-header
//-           a.pull-left(href='index.html#')
//-             i.icon-spinner7
//-           span Activity
//-           a.pull-right(href='index.html#')
//-             i.icon-paragraph-justify
//-         ul.activity
//-           li
//-             i.icon-cart-checkout.text-success
//-             div
//-               a(href='index.html#') Eugene
//-               |  ordered 2 copies of 
//-               a(href='index.html#') OEM license
//-               span 14 minutes ago
//-           li
//-             i.icon-heart.text-danger
//-             div
//-               | Your 
//-               a(href='index.html#') latest post
//-               |  was liked by 
//-               a(href='index.html#') Audrey Mall
//-               span 35 minutes ago
//-           li
//-             i.icon-checkmark3.text-success
//-             div
//-               | Mail server was updated. See 
//-               a(href='index.html#') changelog
//-               span About 2 hours ago
//-           li
//-             i.icon-paragraph-justify2.text-warning
//-             div
//-               | There are 
//-               a(href='index.html#') 6 new tasks
//-               |  waiting for you. Don't forget!
//-               span About 3 hours ago
//-     li.dropdown
//-       a.dropdown-toggle(data-toggle='dropdown')
//-         i.icon-paragraph-justify2
//-         span.label.label-default 6
//-       .popup.dropdown-menu.dropdown-menu-right(style='display: none;')
//-         .popup-header
//-           a.pull-left(href='index.html#')
//-             i.icon-spinner7
//-           span Messages
//-           a.pull-right(href='index.html#')
//-             i.icon-new-tab
//-         ul.popup-messages
//-           li.unread
//-             a(href='index.html#')
//-               img.user-face(src='images/demo/users/face1.png', alt='')
//-               strong
//-                 | Eugene Kopyov 
//-                 i.icon-attachment2
//-               span Aliquam interdum convallis massa...
//-           li
//-             a(href='index.html#')
//-               img.user-face(src='images/demo/users/face2.png', alt='')
//-               strong
//-                 | Jason Goldsmith 
//-                 i.icon-attachment2
//-               span Aliquam interdum convallis massa...
//-           li
//-             a(href='index.html#')
//-               img.user-face(src='images/demo/users/face3.png', alt='')
//-               strong Angel Novator
//-               span Aliquam interdum convallis massa...
//-           li
//-             a(href='index.html#')
//-               img.user-face(src='images/demo/users/face4.png', alt='')
//-               strong Monica Bloomberg
//-               span Aliquam interdum convallis massa...
//-           li
//-             a(href='index.html#')
//-               img.user-face(src='images/demo/users/face5.png', alt='')
//-               strong Patrick Winsleur
//-               span Aliquam interdum convallis massa...
//-     li.dropdown
//-       a.dropdown-toggle(data-toggle='dropdown')
//-         i.icon-grid
//-       .popup.dropdown-menu.dropdown-menu-right
//-         .popup-header
//-           a.pull-left(href='index.html#')
//-             i.icon-spinner7
//-           span Tasks list
//-           a.pull-right(href='index.html#')
//-             i.icon-new-tab
//-         table.table.table-hover
//-           thead
//-             tr
//-               th Description
//-               th Category
//-               th.text-center Priority
//-           tbody
//-             tr
//-               td
//-                 span.status.status-success.item-before
//-                 a(href='index.html#') Frontpage fixes
//-               td
//-                 span.text-smaller.text-semibold Bugs
//-               td.text-center
//-                 span.label.label-success 87%
//-             tr
//-               td
//-                 span.status.status-danger.item-before
//-                 a(href='index.html#') CSS compilation
//-               td
//-                 span.text-smaller.text-semibold Bugs
//-               td.text-center
//-                 span.label.label-danger 18%
//-             tr
//-               td
//-                 span.status.status-info.item-before
//-                 a(href='index.html#') Responsive layout changes
//-               td
//-                 span.text-smaller.text-semibold Layout
//-               td.text-center
//-                 span.label.label-info 52%
//-             tr
//-               td
//-                 span.status.status-success.item-before
//-                 a(href='index.html#') Add categories filter
//-               td
//-                 span.text-smaller.text-semibold Content
//-               td.text-center
//-                 span.label.label-success 100%
//-             tr
//-               td
//-                 span.status.status-success.item-before
//-                 a(href='index.html#') Media grid padding issue
//-               td
//-                 span.text-smaller.text-semibold Bugs
//-               td.text-center
//-                 span.label.label-success 100%
//-     li.user.dropdown
//-       a.dropdown-toggle(data-toggle='dropdown')
//-         img(src='images/demo/users/face1.png', alt='')
//-         span Eugene Kopyov
//-         i.caret
//-       ul.dropdown-menu.dropdown-menu-right.icons-right(style='display: none;')
//-         li
//-           a(href='index.html#')
//-             i.icon-user
//-             |  Profile
//-         li
//-           a(href='index.html#')
//-             i.icon-bubble4
//-             |  Messages
//-         li
//-           a(href='index.html#')
//-             i.icon-cog
//-             |  Settings
//-         li
//-           a(href='index.html#')
//-             i.icon-exit
//-             |  Logout
