.plans
    .row
        .code-week.col-6
            span Mã tuần
            input(type="number" placeholder="0054")
        .category__btn.col-6
            span ?
            span x
    h2.plans__title Kế hoạch Sản xuất - Nhập kho - Xuất hàng <br>
        span Từ ngày 25/02/2019 đến 02/03/2019
    .plans__tables.row
        .plans__tables-single.col-lg-4
            .plans__tables-title    
                p Xưởng 06
                .tables__checkbox
                    input(type="checkbox" id="over")
                    label(for="over") Thêm giờ
            .plans__tables-content
                .responsive-table
                    .table.table-hover.tbl-odd-light.tbl-shadow.tbl-dark.table-3
                        .tbl-header
                            table
                                thead
                                    tr
                                        th 
                                        th Id
                                        th Company
                                        th Price
                        .tbl-content
                            table
                                tbody
                                    tr
                                        td
                                            .btn-control
                                                button.btn-show#btn-id +
                                                .btn-group-func
                                                    button.btn-table Thêm
                                                    button.btn-table Sửa
                                                    button.btn-table(onClick="remove(id)") Xóa
                                        td 1
                                        td AUSTRALIAN COMPANY
                                        td $1.38
                                    tr
                                        td
                                            .btn-control
                                                button.btn-show +
                                                .btn-group-func
                                                    button.btn-table Thêm
                                                    button.btn-table Sửa
                                                    button.btn-table Xóa
                                        td 2
                                        td AUSTRALIAN COMPANY 
                                        td $1.38
                                    tr
                                        td
                                            .btn-control
                                                button.btn-show +
                                                .btn-group-func
                                                    button.btn-table Thêm
                                                    button.btn-table Sửa
                                                    button.btn-table Xóa
                                        td 3
                                        td AUSTRALIAN COMPANY 
                                        td $1.38
        .plans__tables-single.col-lg-4
            .plans__tables-title
                p Xưởng 04
                .tables__checkbox
                    input(type="checkbox" id="over")
                    label(for="over") Thêm giờ
            .plans__tables-content
                .responsive-table
                    .table.table-hover.tbl-odd-light.tbl-shadow.tbl-dark.table-3
                        .tbl-header
                            table
                                thead
                                    tr
                                        th 
                                        th Id
                                        th Company
                                        th Price
                        .tbl-content
                            table
                                tbody
                                    tr
                                        td
                                            .btn-control
                                                button.btn-show#btn-id +
                                                .btn-group-func
                                                    button.btn-table Thêm
                                                    button.btn-table Sửa
                                                    button.btn-table(onClick="remove(id)") Xóa
                                        td 1
                                        td AUSTRALIAN COMPANY
                                        td $1.38
                                    tr
                                        td
                                            .btn-control
                                                button.btn-show +
                                                .btn-group-func
                                                    button.btn-table Thêm
                                                    button.btn-table Sửa
                                                    button.btn-table Xóa
                                        td 2
                                        td AUSTRALIAN COMPANY 
                                        td $1.38
                                    tr
                                        td
                                            .btn-control
                                                button.btn-show +
                                                .btn-group-func
                                                    button.btn-table Thêm
                                                    button.btn-table Sửa
                                                    button.btn-table Xóa
                                        td 3
                                        td AUSTRALIAN COMPANY 
                                        td $1.38
                
        .plans__tables-single.col-lg-4
            .plans__tables-title
                p Xưởng 05
                .tables__checkbox
                    input(type="checkbox" id="over")
                    label(for="over") Thêm giờ
            .plans__tables-content
                .responsive-table
                    .table.table-hover.tbl-odd-light.tbl-shadow.tbl-dark.table-3
                        .tbl-header
                            table
                                thead
                                    tr
                                        th 
                                        th Id
                                        th Company
                                        th Price
                        .tbl-content
                            table
                                tbody
                                    tr
                                        td
                                            .btn-control
                                                button.btn-show#btn-id +
                                                .btn-group-func
                                                    button.btn-table Thêm
                                                    button.btn-table Sửa
                                                    button.btn-table(onClick="remove(id)") Xóa
                                        td 1
                                        td AUSTRALIAN COMPANY
                                        td $1.38
                                    tr
                                        td
                                            .btn-control
                                                button.btn-show +
                                                .btn-group-func
                                                    button.btn-table Thêm
                                                    button.btn-table Sửa
                                                    button.btn-table Xóa
                                        td 2
                                        td AUSTRALIAN COMPANY 
                                        td $1.38
                                    tr
                                        td
                                            .btn-control
                                                button.btn-show +
                                                .btn-group-func
                                                    button.btn-table Thêm
                                                    button.btn-table Sửa
                                                    button.btn-table Xóa
                                        td 3
                                        td AUSTRALIAN COMPANY 
                                        td $1.38
    .plans__notes
        label Ghi chú
        input(type="text" )
        span
            i.far.fa-clipboard
    .category__search-field.row
        p.search__title Ghi chú chung
        textarea(cols="70", rows="10" spellcheck="false")
        .category__create-btn
            button Thêm
    .container-flex-right
        .btn-indent
            .category__create-btn
                button Chỉnh sửa
        .btn-indent 
            .category__create-btn            
                button Xóa
