section.form-table-h.pd-lr1-5
    .container-flex-right
        .category__btn
            span ?
            span X
    h2.plans__title Quản Lý Tài Khoản
        //- br
        //- span Từ ngày 25/02/2019 đến 02/03/2019
    .responsive-table
        .table.table-hover.tbl-odd-light.tbl-shadow.tbl-dark
            .tbl-header
                table
                    thead
                        tr
                            th 
                            th Tài Khoản
                            th Mật Khẩu
                            th Họ Và Tên
                            th Chức Danh
                            th Quyền Truy Cập
            .tbl-content
                table#mytbl
                    tbody
                        tr.tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Xóa
                            td lethanhha
                            td hale1997
                            td Lê Thanh Hà
                            td Nhân Viên
                            td Xưởng 1
                        tr.tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Xóa
                            td admin
                            td admin123
                            td admin
                            td giám đốc
                            td quản lý
                        tr.tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Xóa
                            td mod
                            td modd123 
                            td mod
                            td chủ tịch
                            td quản lý tổng
                        tr.tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Xóa
                            td supervisor
                            td sp123321 
                            td Hoàng Thy 
                            td Giám Sát
                            td Giám sát xưởng 1

    .row.tb-content  
        fieldset.main-form-tb.pb-tb2.cs-col-xl-12.col-12.col-lg-12.col-md-12.col-sm-12
            .input-info
                .form-item-input
                    label(for="ngayghi") Tài Khoản
                    input(type="text")#user.txt-input


                .form-item-input
                    label(for="maloai") Mật Khẩu
                    input(type="text" value="")#password.txt-input  


                .form-item-input
                    label(for="ten") Họ Và Tên
                    input(type="text" value="")#hovaten.txt-input  
                .form-item-input
                    label(for="#chucdanh") Chức Danh
                    .input-box
                        select#chucdanh
                            option(value="0") Nhân Viên
                            option(value="1") Giám Đốc
                            option(value="2") Giám Sát
                            option(value="3") Chủ Tịch
                .form-item-input
                    label(for="#quyen") Quyền Truy Cập
                    .input-box
                        select#quyen
                            option(value="1") Xưởng 1
                            option(value="2") Xưởng 2
                            option(value="3") Xưởng 3
                            option(value="4") Xưởng 4
                            option(value="5") Xưởng 5
                            option(value="6") Xưởng 6
                            option(value="7") Xưởng 7
                            option(value="8") Xưởng 8
                            option(value="9") Xưởng 9         
                                    //-    
                            option(value="11") Giám Sát Xưởng 1
                            option(value="12") Giám Sát Xưởng 2
                            option(value="13") Giám Sát Xưởng 3
                            option(value="14") Giám Sát Xưởng 4
                            option(value="15") Giám Sát Xưởng 5
                            option(value="16") Giám Sát Xưởng 6
                            option(value="17") Giám Sát Xưởng 7
                            option(value="18") Giám Sát Xưởng 8
                            option(value="19") Giám Sát Xưởng 9
                            //-
                            option(value="20") Quản Lý
                            option(value="21") Quản Lý Tổng

                //- form thêm mới- tìm kiếm
    .btn-indent
        .category__create-btn
            button Sửa