section.search
    .wrapper-search
        .row
            .search-df.col-lg-10.col-md-12
                <input type="text" class="ip-df" id="myInput" onkeyup="searchname()" placeholder="Tìm kiếm">
            .search-btn-advanced.col-lg-2.col-md-12
                input.btn-df.btn-advanced(type="button" value="Tìm Kiếm Nâng Cao")
    .search-advanced
        .box-ip-advanced
            input.ip-advanced#search(type="text" placeholder="Tìm kiếm")

            <input type="text" class="ip-advanced" id="maso" onkeyup="searchmaso()" placeholder="Mã số">
            input.ip-advanced#name(type="text" placeholder="Tên Sản Phẩm")
            input.ip-advanced#date(type="date" placeholder="Ngày")
        input.btn-df.btn-advanceds(type="button" value="Tìm Kiếm")

.container
    .responsive-table
        .table.table-hover.tbl-odd-light.tbl-shadow.tbl-dark
            .tbl-header
                table
                    thead
                        tr
                            th 
                            th Mã Số
                            th Tên Sản Phẩm
                            th Price
                            th Change
                            th Change %
            .tbl-content
                table#myTable
                    tbody
                        tr
                            td
                                .btn-control
                                    button.btn-show#btn-id +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table(onClick="remove(id)") Xóa
                            td 1
                            td Cân 5kg
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 2
                            td Cân 4kg
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 3
                            td Cân 30kg
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 4
                            td Cân 50kg
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 5
                            td Cân 10kg
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 6
                            td Cân 30kg
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 7
                            td Cân 30kg
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 8
                            td Cân 10kg
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 9
                            td Cân 1kg 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 10
                            td Cân 1kg  
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 11
                            td Cân 1kg 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 12
                            td Cân 1kg 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 13
                            td Cân 12kg 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 14
                            td Cân 11kg 
                            td $1.2
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 15
                            td Cân 13kg 
                            td $1.2
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Sửa
                                        button.btn-table Xóa
                            td 16
                            td Cân 16kg  
                            td $1.2
                            td +2.01
                            td -0.36%

