div.dashboard-sidebar#toggleclick
    ul.sidebar-menu
        .nav-box.selected
            li.sidebar-item
                a(href="../pages/index.html")
                    <i class="fas fa-tachometer-alt icon"></i> Tổng quan
        .nav-box
            li.sidebar-item
                a(href="#") 
                    <i class="fab fa-canadian-maple-leaf"></i>  Phòng Kế Hoạch 
                <i class="fas fa-chevron-right rote"></i>
            ul.sibar-menu-sub-1
                .nav-box-1
                    li.sidebar-item
                        a(href="../pages/index.html")
                            <i class="fas fa-tachometer-alt icon"></i> Tổng quan
                .nav-box-1
                    li.sidebar-item
                        a(href="../pages/index.html")
                            <i class="fab fa-elementor icon"></i> Lập kế hoạch
                        <i class="fas fa-chevron-right rote"></i>
                    ul.sibar-menu-sub-2
                        .nav-box-2
                            li.sidebar-item
                                a(href="#") Kế hoạch SX- NK -XH
                                <i class="fas fa-chevron-right rote"></i>
                            ul.sibar-menu-sub-3
                                .nav-box-3
                                    li.sibar-item
                                        a(href="../pages/form-Hiep.html") Kế hoạch SX - NK - XH
                                    li.sibar-item
                                        a(href="../pages/index-hieuV2.html") Kế hoạch SX - NK - XH - Chi tiết
                        .nav-box-2
                            li.sibar-menu-item
                                a(href="#") Kế hoạch sản xuất
                        .nav-box-2
                            li.sibar-menu-item
                                a(href="#") Xưởng lắp ráp
                        .nav-box-2
                            li.sibar-menu-item
                                a(href="#") Xưởng chi tiết
                        .nav-box-2
                            li.sibar-menu-item
                                a(href="#") Xưởng tole (X1)
                        .nav-box-2
                            li.sibar-menu-item
                                a(href="#") Xưởng kéo (X8)              
                .nav-box-1
                    li.sidebar-item
                        a(href="#")
                            <i class="fab fa-font-awesome-alt icon"></i>Kiểm hóa
                .nav-box-1
                    li.sidebar-item
                        a(href="#")
                            <i class="fas fa-th"></i> Theo dõi nhập
                .nav-box-1
                    li.sidebar-item
                        a(href="../pages/index.html")
                            <i class="fab fa-elementor icon"></i> Điều chuyển vật tư
                        <i class="fas fa-chevron-right rote"></i>
                    ul.sibar-menu-sub-2
                        .nav-box-2
                            li.sidebar-item
                                a(href="#") Kế hoạch SX- NK -XH
                        .nav-box-2    
                            li.sibar-menu-item
                                a(href="#") Typography
                        .nav-box-2    
                            li.sibar-menu-item
                                a(href="#") Glyphicon
                        .nav-box-2    
                            li.sibar-menu-item
                                a(href="#") Grids
                .nav-box-1
                    li.sidebar-item
                        a(href="../pages/index.html")
                            <i class="fab fa-elementor icon"></i> Hợp đồng
                        <i class="fas fa-chevron-right rote"></i>
                    ul.sibar-menu-sub-2
                        .nav-box-2
                            li.sidebar-item
                                a(href="#") Kế hoạch SX- NK -XH
                                <i class="fas fa-chevron-right rote"></i>
                            ul.sibar-menu-sub-3
                                .nav-box-3
                                    li.sibar-item
                                        a(href="../pages/form-Hiep.html") Kế hoạch sản xuất - Nhập kho - Xuất hàng
                                    li.sibar-item
                                        a(href="../pages/index-hieuV2.html") Kế hoạch sản xuất - Nhập kho - Xuất hàng - Chi tiết
                        .nav-box-2
                            li.sibar-menu-item
                                a(href="#") Kế hoạch sản xuất
                        .nav-box-2
                            li.sibar-menu-item
                                a(href="#") Xưởng lắp ráp
                        .nav-box-2
                            li.sibar-menu-item
                                a(href="#") Xưởng chi tiết
                        .nav-box-2
                            li.sibar-menu-item
                                a(href="#") Xưởng tole (X1)
                        .nav-box-2
                            li.sibar-menu-item
                                a(href="#") Xưởng kéo (X8)
                .nav-box-1
                    li.sidebar-item
                            a(href="#")
                                <i class="fas fa-chart-bar"></i> Định mức
                            <i class="fas fa-chevron-right"></i>
                .nav-box-1   
                    li.sidebar-item
                            a(href="#") 
                                <i class="fas fa-map-marked-alt"></i>Quản lý kho
                            <i class="fas fa-chevron-right"></i>
                .nav-box-1    
                    li.sidebar-item
                        a(href="#")
                            <i class="fas fa-glass-martini-alt"></i> Quản lý xưởng
                        <i class="fas fa-chevron-right"></i>    
                    
        //- .nav-box.selected
        //-     li.sidebar-item
        //-         a(href="../pages/index.html")
        //-             <i class="fas fa-tachometer-alt icon"></i> Tổng quan
        //- .nav-box
        //-     li.sidebar-item.dropdownmenu
        //-         a(href="#")
        //-             <i class="fab fa-elementor icon"></i> Lập kế hoạch
        //-         <i class="fas fa-chevron-right rote"></i>
        //-     ul.sibar-menu-sub

        //-         li.sibar-menu-item
        //-             a(href="#") Kế hoạch SX- NK -XH
        //-         ul.sibar-menu-sub-lv3
        //-             li.sibar-menu-item
        //-                 a(href="../pages/form-Hiep.html") Kế hoạch SX - NK - XH
        //-             li.sibar-menu-item
        //-                 a(href="../pages/index-hieuV2.html") Kế hoạch SX - NK - XH - Chi tiết
                


        //-         li.sibar-menu-item
        //-             a(href="#") Kế hoạch sản xuất
        //-         li.sibar-menu-item
        //-             a(href="#") Xưởng lắp ráp
        //-         li.sibar-menu-item
        //-             a(href="#") Xưởng chi tiết
        //-         li.sibar-menu-item
        //-             a(href="#") Xưởng tole (X1)
        //-         li.sibar-menu-item
        //-             a(href="#") Xưởng kéo (X8)   
        //- .nav-box
        //-     li.sidebar-item
        //-         a(href="#")
        //-             <i class="fab fa-font-awesome-alt icon"></i>Kiểm hóa
        //- .nav-box
        //-     li.sidebar-item
        //-         a(href="#")
        //-             <i class="fas fa-th"></i> Theo dõi nhập
        //- .nav-box
        //-     li.sidebar-item.dropdownmenu
        //-         a(href="#")
        //-             <i class="fas fa-server icon"></i> Điều chuyển vật tư
        //-     //-     <i class="fas fa-chevron-right rote"></i>
        //-     //- ul.sibar-menu-sub
        //-     //-     li.sibar-menu-item
        //-     //-         a(href="#") Typography
        //-     //-     li.sibar-menu-item
        //-     //-         a(href="#") Glyphicon
        //-     //-     li.sibar-menu-item
        //-     //-         a(href="#") Grids
        //- .nav-box
        //-     li.sidebar-item.dropdownmenu
        //-         a(href="#")
        //-             <i class="fab fa-elementor icon"></i> Hợp đồng
        //-         <i class="fas fa-chevron-right rote"></i>
        //-     ul.sibar-menu-sub

        //-         li.sibar-menu-item
        //-             a(href="#") Kế hoạch SX- NK -XH
        //-         ul.sibar-menu-sub-lv3
        //-             li.sibar-menu-item
        //-                 a(href="../pages/form-Hiep.html") Kế hoạch sản xuất - Nhập kho - Xuất hàng
        //-             li.sibar-menu-item
        //-                 a(href="../pages/index-hieuV2.html") Kế hoạch sản xuất - Nhập kho - Xuất hàng - Chi tiết

        //-         li.sibar-menu-item
        //-             a(href="#") Kế hoạch sản xuất
        //-         li.sibar-menu-item
        //-             a(href="#") Xưởng lắp ráp
        //-         li.sibar-menu-item
        //-             a(href="#") Xưởng chi tiết
        //-         li.sibar-menu-item
        //-             a(href="#") Xưởng tole (X1)
        //-         li.sibar-menu-item
        //-             a(href="#") Xưởng kéo (X8)   
        //- li.sidebar-item
        //-     a(href="#")
        //-         <i class="fas fa-chart-bar"></i> Định mức
        //-     <i class="fas fa-chevron-right"></i>
        //- li.sidebar-item
        //-     a(href="#") 
        //-         <i class="fas fa-map-marked-alt"></i>Quản lý kho
        //-     <i class="fas fa-chevron-right"></i>
        //- li.sidebar-item
        //-     a(href="#")
        //-         <i class="fas fa-glass-martini-alt"></i> Quản lý xưởng
        //-     <i class="fas fa-chevron-right"></i>
    
    .administrator#toggleclickb
        a(href="../pages/quanlytaikhoan.html") <i class="fas fa-users-cog"></i> Quản Lý Tài Khoản