.category__btn
    span ?
    span X
.category__search-field.row
    p.search__title Tìm kiếm
    .search__form-group
        a(href="#")
            span 
                <i class="fas fa-search"></i>
        input(type="text" placeholder="Tìm theo mã")
    .search__form-group
        a(href="#")
            span
                <i class="fas fa-search"></i>
        input(type="text" placeholder="Tìm theo tên")
    .search__form-group
        a(href="#")
            span
                <i class="fas fa-search"></i>
        input(type="text" placeholder="Tìm theo cấp") 
.page__count
        input(type="number" placeholder="1")

.category__create-btn
    button Tạo mới
.category__pagination
    a(href="#")
        span Trước 
    span | 
    a(href="#")
        span 1 
    span | 
    a(href="#")
        span 2 
    span | 
    a(href="#")
        span 3 
    span | 
    a(href="#")
        span ... 
    span | 
    a(href="#")
        span Sau