.container
    .responsive-table
        .table.table-hover.tbl-odd-light.tbl-shadow.tbl-dark
            .tbl-header
                table
                    thead
                        tr
                            th 
                            th Id
                            th Company
                            th Price
                            th Change
                            th Change %
            .tbl-content
                table
                    tbody
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Xóa
                            td 1
                            td AUSTRALIAN COMPANY
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Xóa
                            td 2
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Xóa
                            td 3
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Xóa
                            td 4
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Xóa
                            td 5
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Xóa
                            td 6
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Xóa
                            td 7
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Xóa
                            td 8
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Xóa
                            td 9
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
                        tr
                            td
                                .btn-control
                                    button.btn-show +
                                    .btn-group-func
                                        button.btn-table Thêm
                                        button.btn-table Xóa
                            td 10
                            td AUSTRALIAN COMPANY 
                            td $1.38
                            td +2.01
                            td -0.36%
            .tbl-footer
                table
                    tfood
                        tr 
                            td Tổng