.block-tabs
    .tabs-vertical
        #tabs-vertical
            ul
                li
                    a(href="#tabs-vertical-all") All
                li
                    a(href="#tabs-vertical-1") X1
                li
                    a(href="#tabs-vertical-2") X2
                li
                    a(href="#tabs-vertical-3") X3
                li
                    a(href="#tabs-vertical-4") X4
                li
                    a(href="#tabs-vertical-5") X5
                li
                    a(href="#tabs-vertical-6") X6
                li
                    a(href="#tabs-vertical-7") X7
                li
                    a(href="#tabs-vertical-8") X8
                li
                    a(href="#tabs-vertical-9") X9
                li
                    a(href="#tabs-vertical-10") X10
                li
                    a(href="#tabs-vertical-11") X11
                li
                    a(href="#tabs-vertical-none") ...    
            #tabs-vertical-all
                .box-tabs
                    p 1
                    include table.pug
            #tabs-vertical-1
                .box-tabs
                    p 1
                    include table.pug
            #tabs-vertical-2
                .box-tabs
                    p 2
                    include table.pug
            #tabs-vertical-3
                .box-tabs
                    p 3
                    include table.pug 
            #tabs-vertical-4
                .box-tabs
                    p 4
                    include table.pug
            #tabs-vertical-5
                .box-tabs
                    p 5
                    include table.pug
            #tabs-vertical-6
                .box-tabs
                    p 6
                    include table.pug 
            #tabs-vertical-7
                .box-tabs
                    p 7
                    include table.pug
            #tabs-vertical-8
                .box-tabs
                    p 8
                    include table.pug
            #tabs-vertical-9
                .box-tabs
                    p 9
                    include table.pug
            #tabs-vertical-10
                .box-tabs
                    p 10
                    include table.pug 
            #tabs-vertical-11
                .box-tabs
                    p 11
                    include table.pug
            #tabs-vertical-none
                .box-tabs
                    p không có gì
                    include table.pug           