.block-tabs
    .tabs-horizontal
        #tabs-horizontal
            ul
                li
                    a(href="#tabs-horizontal-1") Theo dõi hợp đồng
                li
                    a(href="#tabs-horizontal-2") Theo dõi nhập kho  
                li
                    a(href="#tabs-horizontal-3") Theo dõi kế hoạch
                li
                    a(href="#tabs-horizontal-4") Theo dõi quyết toán 
            #tabs-horizontal-1
                .box-tabs
                    p 1
                    include table.pug
            #tabs-horizontal-2
                .box-tabs
                    p 2
                    include table.pug
            #tabs-horizontal-3
                .box-tabs
                    p 3
                    include table.pug 
            #tabs-horizontal-4
                .box-tabs
                    p 4
                    include table.pug                 
    .wrapper-notification
        .notification-block
            .title-notififcation
                h1 THÔNG BÁO
                a(href="#") Cập nhật
            textarea#notification-text(name="thongbao", cols="30", rows="10") Bạn có 3 thông báo chưa đọc


