section.tree-view
    .form-input-tv
        input(type="text" placeholder="Nhập mã sản phẩm").productCode
        .btn-indent.btn-search-tv
            .category__create-btn
                button Tìm Kiếm 
    .wrap-pd-treeview 
        ul#XE.product-wrap
            li.parent-product#SH
                
                span
                    p.parent-tv SH
                    input(type="number").productNumber#pdSH 
                .wrap-ul-tv
                    ul.child-tv
                        li.child-item#banhxeSH Bánh xe
                        
                        li
                            span.parent-tv.child-item#yenxeSH Yên xe
                            
                            .wrap-ul-tv
                                ul.child-tv
                                    li.child-item#daSH Da
                                    
                                    li.child-item#demmutSH Đệm mút
                                    
                        li.child-item#dongcoxeSH Động cơ xe

            li.parent-product#HONDA
                
                span
                    p.parent-tv Honda
                    input(type="number").productNumber#pdHonda 
                .wrap-ul-tv
                    ul.child-tv
                        li.child-item#banhxeHonda Bánh xe
                        
                        li
                            span.parent-tv.child-item#yenxeHonda Yên xe
                            
                            .wrap-ul-tv
                                ul.child-tv
                                    li.child-item#daHonda Da
                                    
                                    li.child-item#demmutHonda Đệm mút
                                    
                        li.child-item#dongcoxeHonda Động cơ xe

            li.parent-product#YAMAHA
                
                span
                    p.parent-tv yamaha
                    input(type="number").productNumber#pdYamaha 
                .wrap-ul-tv
                    ul.child-tv
                        li.child-item#banhxeYamaha Bánh xe
                        
                        li
                            span.parent-tv.child-item#yenxeYamaha Yên xe
                            
                            .wrap-ul-tv
                                ul.child-tv
                                    li.child-item#daYamaha Da
                                    
                                    li.child-item#demmutYamaha Đệm mút
                                    
                        li.child-item#dongcoxeYamaha Động cơ xe            















    .wrap-pd-treeview
        ul#CAN.product-wrap
            li.parent-product
                
                span
                    p.parent-tv Cân 1kg 
                    input(type="number").productNumber#pdCan1Kg
                .wrap-ul-tv
                    ul.child-tv
                        li.child-item#voCan1Kg Vỏ 
            
                        li
                            span.parent-tv.child-item#matCan1Kg Mặt cân
                            
                            .wrap-ul-tv
                                ul.child-tv
                                    li.child-item#matsoCan1Kg Mặt số
                                    
                                    li.child-item#kimCan1Kg Kim
                        li
                            span.parent-tv.child-item#bancanCan1kg Bàn cân
                            
                            .wrap-ul-tv
                                ul.child-tv
                                    li.child-item#thepCan1Kg Thép
                                    


            li.parent-product
                
                span
                    p.parent-tv Cân 2kg 
                    input(type="number").productNumber#pdCan2Kg
                .wrap-ul-tv
                    ul.child-tv
                        li.child-item#voCan2Kg Vỏ 
            
                        li
                            span.parent-tv.child-item#matCan2Kg Mặt cân
                            
                            .wrap-ul-tv
                                ul.child-tv
                                    li.child-item#matsoCan2Kg Mặt số
                                    
                                    li.child-item#kimCan2Kg Kim
                        li
                            span.parent-tv.child-item#bancanCan2kg Bàn cân
                            
                            .wrap-ul-tv
                                ul.child-tv
                                    li.child-item#thepCan2Kg Thép




            li.parent-product
                
                span
                    p.parent-tv Cân 5kg 
                    input(type="number").productNumber#pdCan5Kg
                .wrap-ul-tv
                    ul.child-tv
                        li.child-item#voCan5Kg Vỏ 
            
                        li
                            span.parent-tv.child-item#matCan5Kg Mặt cân
                            
                            .wrap-ul-tv
                                ul.child-tv
                                    li.child-item#matsoCan5Kg Mặt số
                                    
                                    li.child-item#kimCan5Kg Kim
                        li
                            span.parent-tv.child-item#bancanCan5kg Bàn cân
                            
                            .wrap-ul-tv
                                ul.child-tv
                                    li.child-item#thepCan5Kg Thép
                                    
                                
            li.parent-product
            
                span
                    p.parent-tv Cân 10kg 
                    input(type="number").productNumber#pdCan10Kg
                .wrap-ul-tv
                    ul.child-tv
                        li.child-item#voCan10Kg Vỏ 
            
                        li
                            span.parent-tv.child-item#matCan10Kg Mặt cân
                            
                            .wrap-ul-tv
                                ul.child-tv
                                    li.child-item#matsoCan10Kg Mặt số
                                    
                                    li.child-item#kimCan10Kg Kim
                        li
                            span.parent-tv.child-item#bancanCan10kg Bàn cân

                            .wrap-ul-tv
                                ul.child-tv
                                    li.child-item#thepCan10Kg Thép
                                                    
                

        